@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
html {
  scroll-behavior: smooth;
}
body{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #363636;
    font-family: 'Nunito Sans', sans-serif;
}
body:not(.home) a.social-sharing-button {
    color: #d4a968!important;
    width: 30px;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
    background: transparent!important;
    padding: 5px!important;
}
a{
    color:#d4a968;
        -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
a:hover{
    color:#000;
    text-decoration:none;
}
.link-abs {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.second-font{
    font-family: 'Nunito Sans', sans-serif;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}
.hero-title, h2{
    font-size:76px;
    font-weight:600;
    font-family: 'DM Serif Display', serif;
}
.t-datepicker-day td {
    font-weight: 400;
}
.hero-title h1 {
    font-size: 140px;
    font-weight: 400;
    line-height: 1.2em;
    position: relative;
    display: flex;
    height: 200px;
    overflow: hidden;
    text-transform:uppercase;
    color:#fff;
}
.hero-title h1 span.letters{
    position:absolute;
    left: 0;
    right: 0;
    color:#fff;
    font-weight: bold;
}
.hero-title h4 {
    font-weight: bold!important;
    line-height: 1.2em;
    font-size: 60px;
    margin-top:75px;
    color:#fff;
}
 .small-hero h1{
    font-size:76px;
    font-weight:600;
    color:#fff;
    font-family: 'DM Serif Display', serif;
}
section.small-hero {
    max-height: 70vh;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1, .h1{
    font-size:76px!important;
    font-weight:400!important;
}
h2, .h2{
    font-size:52px!important;
    font-weight:400!important;
}
h3, .h3{
    font-size:48px!important;
    font-weight:400!important;
}
h4, .h4{
    font-size:42px!important;
    font-weight:400!important;
}
h5, .h5{
    font-size:32px!important;
    font-weight:400!important;
}
h6, .h6{
    font-size:24px!important;
    font-weight:400!important;
}
.hero-title .primary-button {
    font-family: "DM Serif Display", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    display: block;
    width: 160px;
    margin: 0 auto;
    background-color: #d4a968;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 12px 24px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.hero-title .primary-button:hover{
transform: translateY(-8px);
    color: #fff;
    text-decoration: none;    
}
.image-boxes .image-sub h4 {
    font-family: 'Nunito Sans';
    font-size: 18px!important;
    font-weight: 900!important;
    color: #d4a968;
}
span.over-title {
    color: #d4a968;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.gray-background{
    background-color: #F6F7FC;
}
.section-icon {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.section-icon  .icon-section {
    width: 10%;
    margin-right: 32px;
    display: inline-block;
}
.section-icon  .content-section {
    width: 100%;
}
.content-section h4 {
    margin-top: 0;
    line-height: 1;
}
.icons-grid {
    max-width: 750px;
    margin: 20px auto;
}
.icons-grid ul li {
    flex-grow: 1;
    width: 33%;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}
.icons-grid ul li img {
    width: 60px;
    margin-bottom: 10px;
}
.icons-grid li a {
    color: #000;
}
.icons-grid ul {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
/*IMAGE SHAPE*/
.post-img {
    position: relative;
    overflow: hidden;
    max-height: 180px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.mw400{
    max-width:400px;
    height:500px;
    object-fit:cover
}
.img-shape img {
    border-radius: 400px 16px 400px 400px;
    overflow: hidden;
}
.img-shape_lt img {
    border-radius:  16px 400px 400px 400px;
    overflow: hidden;
}
/*BUTTON*/
.button-primary {
background-color: #D4A968;
    border: none;
    border-radius: 12px;
    color: #fff!important;
    font-size: 15px;
    padding: 12px 24px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.button-primary:hover{
    color: #fff;
        background-color: #A88E64;
    text-decoration:none;
}
.button-secondary {
    background-color: #fff;
    border: 1px solid #d4a968;
    border-radius: 5px 5px 5px 5px;
    color: #d4a968;
    font-size: 15px;
    padding: 12px 24px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.sidebar-button_group a {
    line-height: inherit;
}
.button-secondary:hover{
    transform: translateY(-8px);
    color: #d4a968;
    text-decoration:none;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.button-color {
    background: #BA945B;
    border-radius: 5px;
    line-height: 1;
    font-size: 15px;
    padding: 12px 24px;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.button-color:hover {
    background: #d4a968;
    color: #fff;
    text-decoration:none;
}
.big-button {
    font-size: 18px;
    padding: 18px 32px;
}
.intro-text h4 {
    font-size: 77px;
    font-weight: 600;
    margin-bottom: 40px;
}
.parallax-cta h4{
    color: #FFFFFF;
    font-family: "DM Serif Display", Sans-serif;
    font-size: 76px!important;
    font-weight: 400;
    line-height: 1.11em;
    margin-bottom:40px;
}
.intro-text p{
        text-align: center;
    font-size: 20px;
    line-height: 0.9em;
}
.primary-color{
    color:#d4a968;
}
.primary-background{
    background-color:#d4a968;
}
.pt-10 {
    padding-top: 7rem!important;
}
.navbar-brand {
    padding: 16px 13px;
    margin: 0;
}
.navbar-brand img {
    width: 200px;
}
    .navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 33px;
    padding-bottom: 33px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

#main-menu > li {
    margin-right: 10px;
}
ul.social-header {
    display: inline-flex;
    margin-right: 30px;
}
.social-header a {
    color: #fff;
    width: 30px;
    display: block;
}
.header-contact {
    color: #fff;
}
.header-contact:hover{
    color: #d4a968;
    text-decoration:none;
}
.top-header{
    padding:10px 0;
}
.home .header-transparent, .page-template-fullwidthpage .header-transparent, .page-template-fullwidthpage_v2 .header-transparent {
    position: absolute;
}
.home .header-transparent{
    box-shadow:none;
}
body:not(.home) .top-header {
    background: #fcfaf6;
}
body:not(.home) .header-transparent {
    position: relative;
}
.header-transparent {
background-color: transparent;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99999;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    -webkit-transition: .3s;
    transition: .3s;
    top: 0;
}
.apartment-title h1 {
    flex-basis: 80%;
}
a.ppsClickBinded {
    color: #D4A968;
    font-size: 24px;
    position: relative;
    top: -7px;
    border-left: 1px solid;
    padding: 5px;
    /* line-height: 1; */
    border-radius: 0;
    margin-left: 0px;
    padding-left: 10px;
}
.header-transparent.sticky{
    background-color:rgba(0,0,0,0.3);
}
p.mphb_sc_search-lokacija, .filter-box form .mphb_sc_search-grad .select-selected {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
.single-mphb_room_type .header-transparent .header-contact,.single-mphb_room_type .header-transparent  .navbar-expand-lg .navbar-nav .nav-link,
.tax-mphb_ra_lokacija .header-transparent .header-contact,.tax-mphb_ra_lokacija .header-transparent  .navbar-expand-lg .navbar-nav .nav-link,
.page-template-page-booking-search .header-transparent .header-contact, .page-template-page-booking-search  .navbar-expand-lg .navbar-nav .nav-link,
.post-type-archive-mphb_room_type .header-transparent .navbar-expand-lg .navbar-nav .nav-link,
.post-type-archive-mphb_room_type .header-transparent .header-contact,
.tax-mphb_ra_karakteristika .header-transparent .header-contact,
.tax-mphb_ra_karakteristika .header-transparent .navbar-expand-lg .navbar-nav .nav-link,
.page-template-page-booking-search .header-transparent .navbar-expand-lg .navbar-nav .nav-link,
.page-template-page-booking-search .header-transparent .header-contact,
body:not(.home) .navbar-expand-lg .navbar-nav .nav-link
{
    color:#333;
}
.single-mphb_room_type .header-transparent .navbar-brand img, .tax-mphb_ra_lokacija .header-transparent .navbar-brand img,
.page-template-page-booking-search .header-transparent .navbar-brand img,
.post-type-archive-mphb_room_type .header-transparent .navbar-brand img,
.tax-mphb_ra_karakteristika .header-transparent .navbar-brand img,
.page-template-page-booking-search .header-transparent .navbar-brand img,
body:not(.home) .header-transparent .navbar-brand img
{
    width: 200px;
    -webkit-filter: invert(1);
    filter: invert(1);
}
.single-mphb_room_type .header-transparent .social-header a, .tax-mphb_ra_lokacija .header-transparent .social-header a,
.page-template-page-booking-search .header-transparent .social-header a,
.post-type-archive-mphb_room_type .header-transparent .social-header a,
.tax-mphb_ra_karakteristika .header-transparent .social-header a,
.page-template-page-booking-search .header-transparent .social-header a,
body:not(.home) .social-header a{
    color: #d4a968;
    width: 30px;
    display: block;
}
section{
    position:relative;
    padding:50px 0 50px 0;
}
section.parallax-cta {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 250px 0px 250px 0px;
}
.lightbox {
    z-index: 100009!important;

}
.small-cta{
    padding: 150px 0px 150px 0px!important;
}
.bg-overlay{
    background-image: url(http://dev.mololongovillas.com/wp-content/uploads/2021/09/Circle-Dots.png);
    background-position: 223px 40px;
    background-repeat: no-repeat;
    opacity: 0.5;
    filter: brightness( 100% ) contrast( 100% ) saturate( 98% ) blur( 0px ) hue-rotate( 134deg);
        height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
section.sep {
    padding: 25px 0;
}
.separator {
    border-top: 1px solid #000;
    width: 100%;
    border-style: double;
}
.section-sep {
    /* border-top: 1px solid #000; */
    /* width: 100%; */
    margin: 40px 0;
    width: 100%;
    height: 1px;
    display: block;
    background: #000;
}
.small-space{
    padding:60px 0;
}
.small_gutter .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}
.overlay {
    background-color: #000000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:0;
}
.home-hero {
    width: 100%;
    height: 100vh;
        padding: 80px 0;
}
.home-hero  video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero-title {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 250px 0px 300px 0px;
    position: relative;
    z-index: 9;
}
.swiper-id .swiper-button-next,.swiper-id .swiper-button-prev{
    background: rgba(255,255,255,0.5);
    width: 40px;
    height: 70px;
    opacity:0;
    transition:0.3s;
}
.swiper-featured .app-box:hover .swiper-id .swiper-button-next, .swiper-featured .app-box:hover .swiper-id .swiper-button-prev {
    opacity: 1;
}
.swiper-id {
    max-height: 300px;
}
.swiper-id .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #d4a968;
    opacity:1;
}
.swiper-id .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}
.swiper-id .swiper-button-next {
    right: 0;
}
.swiper-id .swiper-button-prev {
    left: 0;
}
.swiper-id .swiper-button-prev:after,.swiper-id .swiper-button-next:after {
    font-size: 35px;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
    display:none!important;
}

.showContent{
    height: auto;
    display:grid!important;
    margin-top: 14px;
}
.link-float {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    bottom: 0;
}
/*APP BOX*/
.app-box {
    position: relative;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.app-box:hover {
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
}

.swiper-slide .app-box .app-image img{
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center
}
.app-box .app-image {
    position: relative;
    width: 100%;
    margin-bottom:20px;
}
.app-box .app-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app-box span.app-stars {
    position: absolute;
    top: 30px;
    left: 30px;
}
.app-box .app-content {
    padding: 0 20px;
    width: 100%;
    margin-bottom:20px;
}
.app-box .app-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.app-box .app-title h4{
        margin: 0;
    font-size: 1.25rem!important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700!important;
}

.app-price {
    background: #d4a968;
    padding: 10px;
    color:#000;
    border-radius: 50px 0px 0px 50px;
    position: relative;
    min-width: 140px;
    text-align: center;
    font-size: 21px;
    right: -20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:700;
}
ul.small-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: calc(-20px/2);
    margin-left: calc(-20px/2);
}
.small-icons li {
    font-size: 12px;
    font-weight: 400;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: calc(20px/2);
    margin-left: calc(20px/2);
    color: #363636;
}
.small-icons i {
    font-size: 14px;
    width: 1.25em;
    color: #d4a968;
}
.app-button {
    padding-top: 15px;
}
/*APP BOX*/

.content-right {
    font-size: 19px;
    font-weight: 400;
    color: #363636;
}
.content-right h3 {
    color: #242631;
    font-size: 68px;
    font-weight: 600;
}
.shadow-box {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 50px 10px;
    padding: 40px 40px 40px 40px;
    border-radius: 15px 15px 15px 15px;
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    text-align:center;
}
.box-icon {
    margin-bottom: 20px;
}
.box-icon i {
    color: #363636;
    font-size: 64px;
}
.box-icon img{
    width:75px;    
}
.box-title {
    font-size: 1.75rem;
    font-weight: 700;
    font-family: "DM Serif Display", sans-serif;
    margin-top: .5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}
.box-title  h4{
    font-size:28px;
}
img.rounded.small {
    width: 70%;
    border-radius: 15px!important;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}
.image-box_social {
    position: relative;
}
.image-share {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 12%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: -50px;
    background: #fff;
}
ul.social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-list li {
    margin-right: 10px;
}
.social-list a {
    width: 30px;
    height: 30px;
    background: #d4a968;
    display: block;
    text-align: center;
    border-radius: 10%;
}
.social-list a i {
    color: #fff;
    font-size: 17px;
}
.share-title {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}
/*IMAGE TITLE*/
.latest-blog .image-content h5 {
    font-size: 23px;
}
.latest-blog .image-title img{
    min-height:444px;
}
.latest-blog-sep .separator {
    border: 1px solid #000;
    width: 100%;
    border-style: solid!important;
}
.image-title .button{
        cursor: pointer;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    background: transparent;
    color:#fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration:none;
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
        display: inline-block!important;
    width: auto;
}
.image-button{
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.image-title:hover .image-button{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.image-title {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    margin-bottom:20px;
}
.image-title a{
    width:100%;
    height:100%;
    display:block;
}
.image-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    padding: 35px;
    z-index:9;
}
.image-content p{
    transition-duration: 1000ms;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.image-title:hover .image-content p {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.image-content h5{
    font-size: 40px;
    font-weight:600;
    font-family: "DM Serif Display", sans-serif;
    transition-duration: 1000ms;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.image-content  a h5{
    color:#fff;
}
.image-title img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    transition-duration: 1500ms;
    -webkit-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;
}
.image-title:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.image-title:hover .image-content h5 {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.image-title.half-height {
    height: 300px;
}
.image-title.half-height img {
    height: 100%;
}
.image-title.full-height {
    height: 620px;
}
.image-title.full-height img {
    height: 100%;
}
/*IMAGE TITLE*/
.mphb-single-room-type-attributes{
    display:none!important;
}
/*TITLE WITH UNDERLINE*/
.title_underline:before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 30px;
    background: #d4a968;
    position: relative;
    margin-right: 10px;
}

.title_underline {
    text-align: left;
    color: #47404E;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 14px;
}
/*CTA*/
.cta, .parallax-cta h5 {
    text-align: center;
    font-size: 67px;
    letter-spacing: -2.4px;
    font-family: "DM Serif Display", sans-serif;
    color:#fff;
}
.cta span {
    color: #d4a968;
    position: relative;
}
.cta svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 140px);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: visible;
}
.cta path {
    stroke: #d4a968;
    stroke-width: 4px;
    fill: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
/*CTA*/
/*PARALLAX*/
.parallax{
    padding:200px 0px 150px 0px;;
}
.parallax-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color:#000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.shape-top{
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    top: -1px;
}
.shape-top svg{
    width: calc(200% + 1.3px);
    height: 50px;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.shape-top path{
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
/*PARALLAX*/
/*ICON TEXT*/
.round-icon {
    background: #d4a968;
    border-radius: 100%;
    font-size: 28px;
    padding: .5em;
    color: #fff;
    fill: #fff;
    width: 56px;
    height: 56px;
    margin-bottom: 15px;
}
.round-icon i{
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}
.icon_text {
    margin: 10px 10px 10px 10px;
    padding: 30px 30px 30px 30px;
}
.icon_text *{
    color:#fff;
}
.icon_text h4 {
    color: #FFFFFF;
    font-size: 42px;
    font-family: "DM Serif Display", Sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin-bottom: 20px;
}
/*CONTACT OFFICE*/
section.big-hero > .container-sm {
    z-index: 9;
}
p.small-desc {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    z-index:9;
    position: relative;
}
p.contact-desc {
    color: #000;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 9;
    position: relative;
}
.contact-icons i {
    color: #d4a968;
    display: inline-block;
    margin-right: 20px;
    width: 1.25em;
    text-align: center;
}
.contact-icons li {
    padding: 5px 0;
}
.form-control, .widget_archive select, .widget_categories select, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
    border-radius: .25rem;
}
.wpcf7{
    max-width:100%;
}
.page-template-bgimage .wpcf7 form.invalid .wpcf7-response-output, .page-template-bgimage .wpcf7 form.unaccepted .wpcf7-response-output {
    color: #fff;
}
.big-contact .wpcf7{
        max-width: 100%;
}
.big-contact .wpcf7 input[type=text],.big-contact  .wpcf7 input[type=email],.big-contact  .wpcf7 textarea {
    background: #fff;
    color: #000!important;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    height: 60px;
}
.big-contact .wpcf7 input[type=text]:focus,.big-contact  .wpcf7 input[type=email]:focus,.big-contact  .wpcf7 textarea:focus {
    border: 1.5px solid #D4A968;
    box-shadow: 0px 0px 9px 3px rgba(95, 117, 238, 0.27);
}
.big-contact .wpcf7 .wpcf7-form label{
    color:#000;
}
.big-contact  .wpcf7 textarea{
    height:auto!important;
}
.white-contact .wpcf7-form,.white-contact .wpcf7 .wpcf7-form label {
    color: #000;
}
.white-contact .wpcf7 .wpcf7-form label{
    margin-bottom:5px;
}
.white-contact .wpcf7 input[type=text],.white-contact .wpcf7 input[type=email],.white-contact .wpcf7 textarea{
    background-color: #ffffff;
    border-color:#000;
    color:#000!important;
}
.white-contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  #000!important;
  opacity: 1; /* Firefox */
}
.white-contact :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #000!important;
}
.white-contact ::-ms-input-placeholder { /* Microsoft Edge */
  color:  #000!important;
}
.wpcf7-form {
    color: #fff;
}
.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea {
    background-color: #CFBB9E7A;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    color: #fff!important;
    line-height: 1.4;
    font-size: 15px;
    min-height: 40px;
}
.page-template-bgimage input:focus, .page-template-bgimage textarea:focus {
    background-color: #CFBB9E7A!important;
}
.wpcf7 .wpcf7-form label {
    width: 100%;
    color: #fff;
    margin-bottom: 25px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  #fff!important;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #fff!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:  #fff!important;
}
.wpcf7-list-item {
    display: block;
}
.wpcf7-list-item label {
    margin-bottom: 5px!important;
}
input.wpcf7-form-control.wpcf7-submit {
    background: #d4a968;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    padding: 12px 24px;
    height: auto;
    display: flex;
    width: auto;
}
input.wpcf7-form-control.has-spinner.wpcf7-submit:hover, input.wpcf7-form-control.has-spinner.wpcf7-submit:focus, input.wpcf7-form-control.wpcf7-submit:focus, input.wpcf7-form-control.wpcf7-submit:hover  {
    background: #A88E64;
    box-shadow: none;
}

.cf-form .wpcf7 input[type=text], .cf-form .wpcf7 input[type=email], .wpcf7 textarea {
    background-color: #CFBB9E7A;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    color: #fff!important;
    line-height: 1.4;
    font-size: 15px;
    min-height: 40px;
}
.cf-form  .wpcf7 .wpcf7-form label {
    width: 100%;
    color: #fff;
    margin-bottom: 25px;
}
.cf-form .wpcf7-text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: fff;
  opacity: 1; /* Firefox */
}

.cf-form .wpcf7-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: fff;
}

.cf-form .wpcf7-text::-ms-input-placeholder { /* Microsoft Edge */
  color: fff;
}
/*CONTACT OFFICE*/
/*FOOTER*/
footer {
    background-color: #333333;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 35px 0px;
    position: relative;
}
.footer-overlay{
        background-color: #000000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.footer-widgets {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-widgets, .inner-widget {
    position: relative;
}
.footer-logo{
    max-width:130px;
}
.footer-images{
    max-width:260px;
        text-align: center;
}
.footer-images img{
    padding-bottom:20px;
}
.social-list a i {
    color: #fff;
    font-size: 17px;
}
.site-info p {
    font-size: 16px;
}
.social-list_contact.social-footer a {
    width: 25px;
    /* height: 25px; */
    background: none;
    color: #D4A968;
    transition:0.3s all;
}
.social-list_contact.social-footer a:hover i{
    color:#A88E64;
}
.social-list_contact.social-footer a i{
    color:#D4A968;
}
.share-title {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}
ul.simple-list {
    list-style: disc;
    padding-left: 18px;
    margin-top: 5px;
}
.inner-widget .widget-title {
        color: #fff;
    font-family: "DM Serif Display", Sans-serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
}
ul.menu-list, ul.bottom-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list li {
    padding-bottom: calc(10px/2);
}
.menu-list a, footer a {
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.menu-list a:hover, footer a:hover  {
    color: #7a7a7a;
    text-decoration:none;
}
footer li a:hover{
    color: #D4A968!important
}
.footer-bottom {
    background: #333;
    display: flex;
    padding: 20px 0px 20px 0px;
}
.footer-bottom p, .footer-bottom a {
    margin: 0;
    color: rgba(255,255,255,0.7);
    font-size: 16px;
}
.footer-bottom.dark-color{
    background: #f7f0e5;
}
ul.bottom-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bottom-menu li {
    padding-left: 30px;
}
ul.credit-cards {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.credit-cards li {
    list-style: none;
    margin-left: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
}
ul.credit-cards {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}
.footer-sponsors img {
    /* width: 100%; */
    /* display: block; */
    /* max-width: 150px; */
    height: 70px;
    margin-right: 20px;
}
footer .single-location{
    color:#fff;
}
ul.credit-cards li img {
    height: 45px;
    display: inline-block;
    margin-right: 5px;
    width: auto;
}
ul.credit-cards.credit-extra img {
    height: 45px;
}
ul.credit-cards.credit-extra {
    justify-content: flex-start;
}
/*HOME SLIDER*/
.swiper-button-prev.pos-tr {
    position: absolute;
    top: 25px;
    right: 40px;
    left: auto;
}
.swiper-button-next.pos-tr {
    position: absolute;
    top: 25px;
    right: 10px;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 24px;
    color: #d4a968;
}
/*APPARTMENTS LIST MAP*/
.swiper_app-list{
    height:100%;
}
li.app-list_single {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
     background-color: #fcfaf6;
     position:relative;
     transition:0.3s all;
}
li.app-list_single:hover, li.app-list_single.box-shadow{
    background:#f7f0e5;
    box-shadow:none!important;
}
li.app-list_single .app-image {
    width: 40%;
    min-height: 150px;
    position: relative;
    padding: 15px 0 15px 15px;
}
li.app-list_single .app-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.ribbon-left {
    position: absolute;
    z-index: 9;
    top: 0;
    width: 150px;
    overflow: hidden;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    left: 0;
    right: auto;
    height: 150px;
}
.ribbon-left div {
    text-align: center;
    left: 0;
    width: 200%;
    -webkit-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate( 
-45deg
 );
    -ms-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    margin-top: 35px;
    font-size: 11px;
    line-height: 2;
    font-weight: 800;
    text-transform: uppercase;
    background: #000;
    color: #fff;
}
li.app-list_single .app-content {
    min-height: 23vh;
    text-align: left;
    padding: 15px;
   
}
h3.app-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}
p.app-info {
    color: #7a7a7a;
}
ul.app-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom:15px;
    font-size:15px;
}
.app-icons li {
    margin: 0 18px 0 0;
}
.app-icons li i {
    margin: 0 7px 0 0;
    font-size: 19px;
}
.app-icons li img {
    position: relative;
    top: -3px;
        margin: 0 7px 0 0;
    font-size: 19px;
    width: 24px;
}
ul.simple-list {
    align-items: start;
}
.app-meta .simple-list li {
    flex-direction: row;
    align-items: center;
text-align:left;
    width: 240px;
}
.app-meta .simple-list i {
    margin: 0;
    font-size: 20px;
    color: #deaf69;
}
.appartments-grid {
    position: relative;
    overflow-y: hidden;
    min-height: 100%;
}
.app-container {
    position: relative;
    width: 850px;
    min-height: 100vh;
    z-index: 2;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.f-left{
    float:left;
}
.f-right{
    float:right;
}
ul.app-list {
    min-height: 650px;
    width: 100%;
    padding: 0 10px;
}
.appartments-map {
    width: calc(100% - 850px);
    overflow:hidden;
}
.map-padding{
    padding-top:0px!important;
    padding-bottom:0;
}
/*SINGLE APP*/
.gallery {
    margin-bottom: 1em;
}
.small-gutters .pr5 {
    padding-right: 5px;
}
.small-gutters .pl5 {
    padding-left: 5px;
}
.app_feat-img {
    width: 100%;
    height: 610px;
    overflow: hidden;
    margin-bottom: 0px;
}
.app_feat-img .gallery {
    margin-bottom: 1.5em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.app_feat-img .gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:0.3s all;
}
.app_feat-img .gallery img:hover, .gallery-side img:hover{
    transform:scale(1.02);
}
.app-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.gallery-side {
    height: 300px;
    width: 100%;
    position: relative;
    overflow:hidden;
}
.gallery-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:0.3s all;
}
.all-images {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
.all-images i {
    margin-bottom: 5px;
}
.info-box {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #363636;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
}
.app-short {
    height: 115px;
}
.info-box .info-box_single {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-basis: 100%;
    height: 125px;
    justify-content: center;
    border-right: 1px solid #eaeef3;
}

.info-box_single.box_button {
    flex-basis: 93%;
}
.info-box_single.price_box {
    flex-basis: 107%;
}
.info-box_single img {
    max-width: 45px;
}
.info-box_single span {
    margin-top: 5px;
    font-size: 14px;
}

.box_button a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 20px;
}
.info-box_single img {
    max-width: 60px;
    width:100%;
}
.box_button {
    background: #d4a968;
    transition: 0.3s all;
}
.info-box_single.box_button:hover {
    background: #BA945B;
}
.info-box_single.price_box {
    font-size: 24px;
    align-items: self-start;
}
.price_box span {
    font-size: 14px;
    display: block;
}
section.submenu {
    padding: 10px 0;
    background: #363636;
}
.submenu-content ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.submenu-content ul a {
    color: #fff;
}
.submenu-content ul a:hover{
    color:#d4a968;
    text-decoration:none;
}
div#dd_map {
    height: 70vh;
}
.room_stars{display:block;position:relative;z-index:1;}
		.room_stars1, .room_stars2, .room_stars3, .room_stars4, .room_stars5{
			margin:1em 0 5px 0;
			width:100%;
			height:19px;
			overflow:hidden;
			}
		.room_stars1{background:url(../images/sprite-stars.png) no-repeat 50% 0;}
		.room_stars2{background:url(../images/sprite-stars.png) no-repeat 50% -19px;}
		.room_stars3{background:url(../images/sprite-stars.png) no-repeat 50% -38px;}
		.room_stars4{background:url(../images/sprite-stars.png) no-repeat 50% -57px;}
		.room_stars5{background:url(../images/sprite-stars.png) no-repeat 50% -76px;}
		
		.room_stars_left1, .room_stars_left2, .room_stars_left3, .room_stars_left4, .room_stars_left5{
			margin:0 0 1em 0;
			width:120px;
			height:19px;
			overflow:hidden;
			}
		
		.mphb-room-type .room_stars_left1, .mphb-room-type .room_stars_left2, .mphb-room-type .room_stars_left3, .mphb-room-type .room_stars_left4, .mphb-room-type .room_stars_left5{
			margin:0 0 1em 1.5em;
			}
			
		.room_stars_left1{background:url(../images/sprite-stars-left.png) no-repeat 50% 0;}
		.room_stars_left2{background:url(../images/sprite-stars-left.png) no-repeat 50% -19px;}
		.room_stars_left3{background:url(../images/sprite-stars-left.png) no-repeat 50% -38px;}
		.room_stars_left4{background:url(../images/sprite-stars-left.png) no-repeat 50% -57px;}
		.room_stars_left5{background:url(../images/sprite-stars-left.png) no-repeat 50% -76px;}
		
		.room_stars_right1, .room_stars_right2, .room_stars_right3, .room_stars_right4, .room_stars_right{
			margin:0 0 1em 0;
			width:120px;
			height:19px;
			overflow:hidden;
			}
		.room_stars_right1{background:url(../images/sprite-stars-right.png) no-repeat 50% 0;}
		.room_stars_right2{background:url(../images/sprite-stars-right.png) no-repeat 50% -19px;}

		.room_stars_right3{background:url(../images/sprite-stars-right.png) no-repeat 50% -38px;}
		.room_stars_right4{background:url(../images/sprite-stars-right.png) no-repeat 50% -57px;}
		.room_stars_right5{background:url(../images/sprite-stars-right.png) no-repeat 50% -76px;}
.button {
    fill: #000;
    color: #000;
    background-color: #D4A96800;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    padding: 12px 24px;
    transition-duration: .3s;
    transition-property: transform;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    width: auto;
    transition: all .3s;
    display: inline-block;
}
.button:hover {
    background-color: #d4a968;
    border-color: #d4a968;
    transform: scale(1.1);
    color:#fff;
    text-decoration:none;
}

/*.single-mphb_room_type .app-content .app-info{
    background:#fff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    padding: 35px;
    border-radius:5px;
}*/

.app-border {
    border: 2px solid #bababa;
    padding: 37px;
    border-radius:5px;
}
.app-price-box {
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    background-color: #363636;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #DCDCDC;
    border-radius: 5px 5px 5px 5px;
    font-size: 23px;
    letter-spacing: -1.7px;
    font-family: "DM Serif Display", Sans-serif;
    color: #fff;
    text-align: center;
}
.sidebar-input{
    text-align:left;
}
.sidebar-input label {
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    letter-spacing: 0;
    text-align: left;
}
.sidebar-input input, .sidebar-input select{
    font-family: 'Nunito Sans';
    font-size: 15px;
    width: 100%;
    padding: 10px;
    line-height: 1;    
}
.sidebar-input select{
    background:#fff;
}
.sidebar-button_group {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
}
.app-top{
    padding-top:0px;
}
span.stars {
    margin-bottom: 1rem;
    display: block;
}
.stars i{
   color:#ffaa00;
}
.app-meta ul {
    display: flex;
}
.app-meta li {
    margin-right: calc(29px/2);
    margin-left: calc(29px/2);
    display: flex;
    align-items: center;
}
.app-meta i, .app-meta img {
    font-size: 27px;
    width: 44px;
    margin-bottom:1rem;
}
.single-app img{
    height:50px;
}
.single-app.app-meta span{
    color:#fff;
    font-weight:bold;
}
.app-meta span {
        font-size: 1rem;
}
.auto-height{
    height:390px;
    overflow: hidden;
}
.block-meta ul {
    flex-direction: column;
}
.block-meta ul li{
    margin-bottom:15px;
}
.sep-text:before, .sep-text:after {
    display: block;
    content: "";
    border-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-top: 1px solid #000;
}
.sep-text span {
    margin: 0 15px;
    padding:20px 0;
    color:#000;
}
.sep-text {
    font-size: 25px;
    font-family: "DM Serif Display", Sans-serif;
    display: flex;
    align-items: center;
}
.grid-three {
    display: grid!important;
    grid-template-columns: repeat(3, 1fr);
}
.grid-flex {
    display: flex!important;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    gap: 0!important;
    grid-template-columns: none!important;
}
.grid-meta ul{
display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;    
}
.grid-meta img{
    height:50px;
    width:auto;
    margin-bottom:0;
}
.grid-meta ul li {
    flex-direction: column;
    margin-bottom: 25px;
    text-align: center;
    align-items: center;
}
.grid-meta ul li span{
    padding-left:0;
    padding-top:5px;
}
.grid-meta ul.single-app {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}
.grid-meta ul.single-app.four-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.grid-meta ul.single-app li span {
    padding-left: 0;
    padding-top: 5px;
    font-weight: 500;
    color: #363636;
    margin-top: 5px;
}
.distance-meta ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
    
.distance-meta li {
    width: 100%;
    flex-direction: row;
}
    .distance-meta img {
    height: 40px;
    width: auto;
    margin-right: 20px;
    min-width: 34px;
}
    .sidebar-list li {
    display: flex;
        align-items: center;
    border-bottom: 1px solid #eaeef3;
    margin-bottom: 10px!important;
    display: flex;
    padding-bottom: 20px;
}
.sidebar-list span, .sidebar-list li > a {
    font-weight: bold;
}
.sidebar-list img{
    width: 40px;
    margin-right: 20px;
        margin-bottom: 0;
}
/*FILTER*/
.home a.adv_serch_button {
    color: #fff;
    margin: 10px 0;
    display: block;
    font-weight: bold;
    text-decoration: none!important;
}
.filter-box {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.sub-filter .filter-box {
    position: relative;
    left: auto;
    bottom: auto;
    right: auto;
    transform: none;
    padding: 30px 0;
}

.sub-filter .form_box {
    padding: 0 20px;
}
.sub-filter .filter-box form p {
    width: 100%;
    margin-right: 10px;
    height: 45px;
}
.sub-filter .filter-box form input[type="text"], .sub-filter .filter-box form .mphb_sc_search-kapacitet .select-selected,
.mphb_sc_search-location input{
    padding-left: 58px;
    border: 1px solid #d8dce1;
    border-radius: 5px;
    height: 45px;
    line-height: 45px!important;
}
.sub-filter a.adv_serch_button {
    border: 1px solid #d8dce1;
    padding: 5px 12px;
    position: relative;
    right: 0;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.sub-filter .filter-box form p input[type="submit"] {
    height: 45px;
    line-height: 45px;
}
.filter-wrapper{
position: relative;
    width: 100%;
    max-width: 1080px;
    height: 78px;
    margin: 0 auto;
    padding: 4px;
    background: #fff;
    border-radius: 45px;
}
.filter-wrapper .left-radius {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
.filter-box form{
	position:relative;
	width:100%;
	height:70px;
	margin:0 auto;
	color:#000 !important;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}
.filter-box form p:before {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 22px;
    content: '';
}
.filter-box form p {
    position: relative;
    float: left;
    width: 21.5%;
    height: 70px;
    margin-bottom: 0;
    font-size: 15px;
    font-family: 'Nunito Sans';
}
.home .t-dates.t-date-check-in,
.home .t-dates.t-date-check-out{
    font-size:18px;
}
.modal-guests button#dropdownMenuButton, .modal-guests .checkbox--or label, .advanced-filters--or--homepage {
    font-family: 'Nunito Sans'!important;
}
button.advanced-filters--or.disabled--or.advanced-filters--or--homepage {
    font-size: 16px!important;
}
.modal-toggle-range input#Sum{
        position: absolute;
    padding: 1px;
    width: 34px;
    text-align: center;
    background-image: none!important;
    height: auto;
    line-height: 1;
    z-index: 0;
}
.modal-toggle-range input#Sum.p0 {
    padding: 0!important;
    background: none!important;
    box-shadow: none!important;
    line-height: 22px!important;
    font-size:15px;
}
select {
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    display: block;
    width: 100%;
    cursor: pointer;
}
.filter-box form p.mphb_sc_search-grad:before{width:24px;height:24px;margin-top:-6px;background:url('../images/search_pin.svg') no-repeat 100% 0;background-size:contain;}
/*.filter-box form p.mphb_sc_search-check-in-date:before{width:20px;height:17px;background:url('../images/search_cal_a.svg') no-repeat 0 0;background-size:contain;}
.filter-box form p.mphb_sc_search-check-out-date:before{width:20px;height:17px;background:url('../images/search_cal_b.svg') no-repeat 0 0;background-size:contain;}
.filter-box form p.mphb_sc_search-kapacitet:before{width:34px;height:24px;margin-top:-12px;background:url('../images/icon_guests_black.svg') no-repeat 0 0;background-size:contain;}*/
.filter-box form p:after{
	position:absolute;
	top:50%;
	margin-top:-6px;
	right:21px;
	width:12px;
	height:12px;
	content:'';
	background:url('../images/search_arrow.svg') no-repeat 0 0;background-size:contain;
}
	
.filter-box form p:last-child{margin-left:2.5%;}
.filter-box form p:last-child:after{display:none;}

.filter-box form input, .filter-box form select, .filter-box form input:focus, .filter-box form select:focus{
	width:100%;
	height:70px;
	line-height:70px;
	font-size:18px;
	font-weight:600;
	color:#000 !important;
	background:#fff;
	border:none;
	cursor:pointer;
	font-family:'Nunito Sans';
}
.filter-box form select{padding-left:54px;}
.filter-box form input[type="text"]{padding-left:58px;}

.filter-box form select option{text-shadow:none;padding:25px;color:#000;}
.filter-box form select option:first-child{display:none;}



/* The container must be positioned relative: */
.filter-box form .mphb_sc_search-grad, .filter-box form .mphb_sc_search-kapacitet, .mphb_sc_search-kapacitet{
	position:relative;
}

.filter-box form .mphb_sc_search-grad select, .filter-box form .mphb_sc_search-kapacitet select{
	display:none; /*hide original SELECT element: */
}

.filter-box form .select-selected{
	width:100%;
	height:70px;
	line-height:70px;
	font-size:1em;
	font-weight:600;
	color:#000;
	text-align:left;
	padding-left:54px;
	background:#fff;
	border:none;
	cursor:pointer;
}
.filter-box form .mphb_sc_search-grad .select-selected{}
.filter-box form .mphb_sc_search-kapacitet .select-selected{}

	.filter-box form.mphb_search-filter{
   background: #fcfaf6;
    align-items: center;
        justify-content: space-around;
    padding: 25px 10px;
}
.mphb_search-filter .select {
    box-shadow: none;
}
.mphb_search-filter .datepick--or {
    box-shadow: none;
    border-radius: 0;
    border: none;
}
	
.mphb_search-filter .advanced-filters--or {
    height: 38px;
    background: none;
    border: unset;
    box-shadow: none;
    border-radius: 0;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    min-width: fit-content;
}
.mphb_search-filter .modal-toggle-range::before, .mphb_search-filter .mphb_sc_search-check-in-date:before, 
.mphb_search-filter .mphb_sc_search-check-out-date:before, .mphb_search-filter .modal-toggle-range::before,
.mphb_search-filter .select-styled:before{
    content:none;
}
.filter-box form.mphb_search-filter{
   background: #fcfaf6;
    align-items: center;
        justify-content: space-around;
    padding: 25px 10px;
}
.mphb_search-filter .select {
    box-shadow: none;
    width: 20%;
    border-radius: 0;
    margin: 0;
    min-width: 0;
    position: relative;
    border-right: 1px solid #000;
}
.mphb_search-filter .select-styled {
    padding: 0;
    position: relative;
}
.filter-box .mphb_search-filter .t-datepicker--search {
    margin: 0;
    padding: 0;
    min-width: 0;
    display: block;
    float: none;
}
.mphb_search-filter .datepick--or {
    box-shadow: none;
    border-radius: 0;
    border: none;
}
.mphb_search-filter .mphb_sc_search-check-in-date {
    border-right: 1px solid #000;
        font-family: inherit;
}
.mphb_search-filter .modal-guests {
    width: 20%!important;
    margin: 0!important;
    display: block;
    border-left:1px solid #000;
        font-family: inherit;
}
.mphb_search-filter .t-datepicker--search .datepick--or, .mphb_search-filter .modal-guests button#dropdownMenuButton,
.mphb_search-filter .modal-guests .accommodation-details--or--homepage p,
.mphb_search-filter .modal-guests .checkbox--or label{
    font-family: inherit!important;
    font-size:15px!important;
}
.mphb_search-filter .search-res-submit-wrapp {
    width: auto;
}
.mphb_search-filter .filter-absolute.advanced-filters--or {
    position: absolute;
    bottom: -40px;
    width: auto;
    padding-left:0;
}
.search-res-submit.button_icon {
    background: #f7f0e5;
    box-shadow: none;
    border-radius: 12px;
    color: #000;
    font-size: 30px;
    height: 65px;
    width: 65px;
    padding: 10px;
    font-weight: 400;
    min-width: 0!important;
}
/* arrows */

/* Style items (options): */
.filter-box form .select-items{
	position:absolute;
	background-color:#fff;
	border-right:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	text-shadow:none;
	font-weight:600;
	top:100%;
	left:0;
	right:0;
	margin-top:4px;
	z-index:99;
	}
.filter-box form .mphb_sc_search-grad .select-items{margin-left:-4px;}

/* style the items (options), including the selected item: */
.filter-box form .select-items div{
	float:left;
	width:25%;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#000;
	padding:0 0;
	border:none;
	border-left:1px solid #e7e7e7;
	border-top:1px solid #e7e7e7;
	cursor:pointer;
	}
	
.filter-box form .mphb_sc_search-grad .select-items div{
	float:none;
	width:100%;
	height:auto;
	line-height:normal;
	text-align:left;
	color:#000;
	padding:20px 25px;
	border:none;
	border-left:1px solid #e7e7e7;
	border-top:1px solid #e7e7e7;
	cursor:pointer;
	}

/* Hide the items when the select box is closed: */
.filter-box form .select-hide{display:none;}

.filter-box form .select-items div:hover, .filter-box form .same-as-selected{
	color:#000;
	background-color:#deaf69;
}
.filter-box input:focus, .filter-box input:focus-visible, .filter-box input:active {
    border: none;
    outline: 0px;
}
.filter-box form p.mphb_sc_search-submit-button-wrapper{float:right;overflow:hidden;color:#fff;}
.filter-box form p input[type="submit"]{

    background:#deaf69;
    
    padding: 0 0 0 24px;
    width: 100%;
    text-align: center;
    border: none;
    color: #fff !important;
    text-transform: none !important;
    font-weight: 700;
    letter-spacing: .4px;
    border-radius: 45px;
}
.filter-box form p input[type="submit"]:hover{background:#a78d64;transform:none;}

.filter-box form p.mphb_sc_search-submit-button-wrapper:before{
	margin-top:-8px;
	left:30%;
	width:20px;
	height:16px;
	background:url('../images/search_magnifier.svg') no-repeat 0 0;
	background-size:contain;
}
/*PERIOD*/
.periods{
	background:#fff;
	text-align:center;
	padding:4.5em 0;
	}

.periods_inner{
	margin:0 auto;
	width:90%;
	max-width:1320px;
	position:relative;
	}	
.periods_inner .tabs{
    display:inline-block;
    margin:0 auto 54px;
    padding:2px;
    width:596px;
    height:36px;
    background:#eee;
    border-radius:8px;
    z-index:2;
    position:relative;
}
.periods_inner .tabs li{
	position:relative;
	float:left;
	margin:0;
	list-style:none;
	}
.periods_inner .tabs li a{
    display: block;
    width: 148px;
    height:32px;
    line-height:32px;
    font-size: 17px;
    font-weight: 700;
    color:#000;
    text-align: center;
    border-radius: 8px;
	float:left;
	margin-left:0;
	}
.periods_inner .tabs li a.selected h4{}
.periods_inner .tabs li a.selected h4:after{}
.periods_inner .tabs li a:focus{outline:none;}

.periods_inner .tabs li a.selected{
    margin:0;
    background:#fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
}

.periods_inner .tab{margin-bottom: 1.5em;clear:both;position:relative;z-index:1;}
.periods_inner .tab .period_row{padding:10px 20px;text-align: left;background:#fff;}
.periods_inner .tab .period_row:first-child span{font-weight:700 !important;text-transform:uppercase;}
.periods_inner .tab .period_row:nth-child(odd){background:rgba(238,238,238,.47);}

.periods_inner span{
    display: block;
    float: left;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
	font-weight:400;
    color:#292929;
	}
.periods_inner span{width:30%;}
.periods_inner span.nights{width:40%;}
.periods_inner span.period{font-weight:700;}
.periods_inner small{
	display:block;
	text-align:left;
	line-height:normal;
	font-weight:400;
	color:#363636;
	font-size:12px;
	}
.blog-post {
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    
}
.post-content{
    padding:10px 32px;
    height:250px;
}
.w600 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.post-date {
    border-top: 1px solid #eaeaea;
    padding: 10px 32px;
    color: #7C797E;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.blog-post h2 {
    font-size: 24px!important;
    font-weight: 500;
    line-height: 36px;
    font-family: 'Nunito Sans';
    text-decoration: none;
    margin-top: 8px;
}
.blog-post h2 a{
    color:#000;
    text-decoration: none;
}
a.simple-read {
    color: #d4a968;
    display: block;
    text-transform: uppercase;
}
a.simple-read:hover {
    color: #000;
    text-decoration: none;
}
.meta-box {
    background: #fff;
    box-shadow: 0px 0px 20px 0px #eae5ee;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -150px;
    margin-bottom: 0px;
    padding: 64px 64px 64px 64px;
    overflow: hidden;
    border-radius: 16px 16px 16px 16px;
}
.meta-box span {
    color: #d4a968;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}
.meta-box span:last-child {
    color: #000;
    font-size: 18px;
    text-transform: none;
}
.meta-box .social-header a{
       color: #d4a968; 
}
.mobile-action, .mobile-action a{
    display:none;
}
.navbar-nav ul.dropdown-menu {
    background: #FFFFFF !important;
    padding: 0;
    overflow: hidden;
    border: none;
}
.dropdown-menu li {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    margin: 0!important;
    padding: 0!important;
}
.navbar-nav a.dropdown-item {
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    padding: 15px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.navbar-nav a.dropdown-item:hover {
    background: #f0f0f0;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-xl {
    max-width: 1600px;
}  
    .container-sm{
        max-width: 1200px;
    }
    .container-md{
        max-width: 1300px;
    }
}
@media(min-width:991px){
    .app-list_single .accommodation-img--or {
    height: 240px;
}
    .content-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .align-center {
    align-items: center;
}
    .navbar-nav ul.dropdown-menu {
        border-radius: 10px !important;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 20%) !important;
}
    .navbar-expand-lg .navbar-nav .nav-link:after{
    opacity:0;
     content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after, .navbar-expand-lg .navbar-nav .active .nav-link:after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: #fff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity:1;
}
.navbar-expand-lg .navbar-nav .dropdown-toggle::after{
    border:none;
    margin-left:0;
}
}
@media(max-width:991px){
    .filter-box form input, .filter-box form select, .filter-box form input:focus, .filter-box form select:focus, .filter-box form .select-selected {
    height: 45px;
    line-height: 45px;
}
.archive .navbar-toggler-icon img, .single-mphb_room_type .navbar-toggler-icon img{
    filter:invert(1);
}

    .navbar-brand {
    padding: 0;
    }
.navbar-nav ul.dropdown-menu {
    box-shadow: none !important;
}
.navbar-nav a.dropdown-item {
    padding: 8px;
}
.filter-box form p.mphb_sc_search-submit-button-wrapper {
    float: none;
    margin-left: 0;
}
    .filter-wrapper {
    height: 225px;
    padding: 0;
    border-radius: 20px;
}
.filter-box form {
    width: 100%;
    height: 230px;
    flex-direction: column;
}
.filter-box form p {
    width: 100%;
    height: 45px;
    overflow: hidden;
}
.filter-box input:not(.button) {
    padding: 9px 35px !important;
}
.filter-box form p input[type="submit"], .filter-box form .select-selected{
    text-align:left;
    padding: 0px 35px !important;
}
.filter-box form p.mphb_sc_search-submit-button-wrapper:before {
    margin-top: -7px;
    left: 12px;
}
    div#navbarNavDropdown {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    border-radius:10px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.navbar-nav {
    text-align: left;
    color: #000;
    padding: 0 20px;
}
.navbar-toggler{
    top: 8px;
    position: absolute;
    right: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
}
.mphb_search-filter .filter-absolute.advanced-filters--or {
    position: absolute;
    bottom: -40px;
    right: 0;
    width: auto;
    padding-left: 0;
}
@media(max-width:767px){
    .addReadMore.showlesscontent .SecSec,
    .addReadMore.showlesscontent .readLess {
      display: none;
    }
.top-header .col-md-6.d-flex{
    justify-content: space-between!important;
}
.navbar .col-md-4.text-center.text-left-sm {
    text-align: left!important;
    justify-content: space-between;
    display: flex;
}
.addReadMore.showmorecontent .readMore {
  display: none;
}
.mphb_search-filter .select,.mphb_search-filter .modal-guests{
    border:none;
    text-align:center;
}
.mphb_search-filter .modal-guests{
    width:100%!important;
}
button.btn.btn-close--or.hide-mobile-filters {
    display: none;
}

.search-res-submit-wrapp {
    box-shadow: none!important;
}
.search-res-submit.button_icon {
    background: #f7f0e5;
    box-shadow: none;
    border-radius: 12px;
    color: #000;
    font-size: 30px;
    height: 65px;
    width: 65px;
    padding: 10px;
    font-weight: 400;
    min-width: 0!important;
}
.select-styled, .select-styled--people{
    text-align:center!important;
}
.filter-box--or .datepick--or {
     box-shadow: none!important; 
}
a.ppsClickBinded {
    border: none!important;
    right: 10px;
    position: absolute!important;
    top: -12px!important;
}
.apartment-title.d-flex.align-center {
    flex-direction: column-reverse;
}
.room_stars {
    margin-left: 0!important;
    margin-bottom: 3px;
}

.addReadMore .readMore,
.addReadMore .readLess {
  cursor: pointer;
  display:block;
  margin:0 auto;
      margin-top: 20px;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
  display: block;
}
    .app_feat-img {
    height: 350px;
}
    .info-box .info-box_single{
        text-align: center;
    padding: 10px 6px;
    height: 150px;
    align-items: center;
    justify-content: start;
        margin-bottom: 10px;
    }
    .info-box_single img {
    max-width: 35px;
}
.info-box_single span {
    margin-top: 5px;
    font-size: 12px;
}
    .filter-box--or--homepage {
    left: 0!important;
    transform: unset;
}
.app-top {
    padding-top: 95px;
}
.info-box {
    align-items: start;
}
.info-box_single.price_box {
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
    background: #BA945B;
    z-index: 99;
    padding: 7px 20px;
    height: auto;
    flex-direction: row;
    justify-content: inherit;
    font-size: 18px!important;
    align-items: baseline;
}
.info-box_single.box_button {
    display: none;
}
.grid-meta ul.single-app.four-col {
    grid-template-columns: repeat(3, 1fr);
}
.distance-meta ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}
.filter-wrapper .left-radius {
    border-top-left-radius: 6px;
}
    .app-list h3{
        padding-right:50px;
    }
    .header-transparent{
        padding:0;
    }
.h3 {
    font-size: 24px;
}
    .navbar-brand img {
    width: 150px;
}
    .text-left-sm{
        text-align:left!important;
    }
    .mobile-hidden{
        display:none;
    }
    .safe-logo{
        display:none;
    }
    .hero-title {
        padding: 275px 0px 0px 0px;
        font-size: 46px;
    }
    .post-template-single-blog .hero-title {
        padding: 75px 0px 0px 0px;
    }
    .modal-wrapper {
    top: 0!important;
    padding: 20px;
}
    .hero-title h4{
        font-size: 1.5em;
    }
    .hero-title h1, .small-hero h1 {
        font-size: 37px;
        height: 65px;
    }
    .hero-title p.desc {
        font-size: 1.1em;
        line-height: 1.2em;
        margin: 0!important;
        padding: 0;
    }
    .home-hero {
        height: 100vh;
        background-position: center center!important;
        background-size: cover!important;
    }
    .app-box .app-title h4{
        font-size:1.25rem;
    }
    .app-short p, .app-box .button-primary, .app-price {
        font-size: 1rem;
    }
    .small_gutter .col-md-4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-content h2, .content-right h3, .intro-text h4, .image-content h5, .icon_text h4, .parallax-cta h4,
    .apartment-title h1, h3, h4, .app-info h1, .modal--or .modal-header h2{
        font-size: 28px;
    }
    .app-info h4.text-center {
    text-align: left!important;
}
    .small-space {
        padding: 20px 0;
    }
    section{
        padding:20px 0;
    }
    .shadow-box{
        margin-bottom:20px;
    }
    .icons-grid ul li {
        width: 50%;
    }
    .pt-xs-5 {
        padding-top: 3rem!important;
    }
    .pt-10 {
        padding-top: 1rem!important;
    }
    .mobile-order{
        flex-directon:column;
    }
    .mobile-one{
        order:1;
        text-align: center;
    }
    .mobile-two{
        order:2;
        padding-top: 2rem;
    }
    .pt-xs-0{
        padding-top:0;
    }
    img.rounded.small{
        width:100%;
    }
    .intro-text p{
        font-size: 16px;
        line-height: 1.1em;
    }
    .cta {
        display: none;
    }
    .parallax {
        padding: 100px 0px 50px 0px;
    }
    .parallax-cta a.button-color {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    section.parallax-cta {
        padding: 60px 20px 60px 20px;
        background-position: 0 0!important;
    }
    .contact-office{
        text-align:center;
    }
    .contact-box {
        margin-bottom: 30px;
    }
    .contact-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-widgets {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
    }
    .inner-widget {
        margin-bottom: 30px;
    }
    .footer-images{
        max-width:100%;
        flex-direction:column;
    }
    footer{
        padding:30px 0px 0 0px;
    }
    .alignleft {
        float: none;
        margin: 0;
    }
    ul.social-header {
        margin-right: 0;
    }
    footer .footer-widget {
        width: 100%;
    max-width: 100%!important;
    flex: 0 0 100%!important;
    text-align: center;
    }
    .footer-bottom {
    font-size: 12px;
    text-align: center;
    }
    ul.bottom-menu {
        flex-direction: column;
        margin-top: 10px;
    }
    ul.bottom-menu li{
        padding:0;
    }
    .filter-box {
        top: 33%;
        padding: 0 20px;
    }
    .sidebar__inner {
        position: relative!important;
        transform: translate3d(0px, 0px,0px)!important;
    }
    .grid-meta ul {
    grid-template-columns: repeat(2, 1fr);
}
.grid-meta ul.single-app li span, .grid-meta ul li span, .app-meta .simple-list li {
    font-size: 12px;
}
.app-meta .simple-list li {
    margin-bottom: 5px;
}
div#sidebar {
    height: auto!important;
}
.sidebar__inner {
    position: relative!important;
    transform: translate3d(0px, 0px,0px)!important;
    top: auto!important;
    left: auto!important;
}
.grid-meta img {
    height: 30px;
}
    .sep-text {
        font-size: 22px;
    }
    .help_sinlge-box {
        margin-bottom: 30px;
    }
    .app-container{
        width:100%;
    }
    li.app-list_single {
        flex-direction: column;
    }
    li.app-list_single .app-image {
        width: 100%;
    }
    .appartments-map {
        float: none!important;
        width: 100%;
    }
    .big-title {
        font-size: 34px;
    }
    .subpage-hero p {
        font-size: 18px;
    }
    .anc-6310-counter-2-row {
        padding: 100px 20px 70px;
    }
    .parallax-cta.v2 {
        height: 700px;
    }
    .app-meta ul {
        flex-wrap: wrap;
    }
    .app-meta li {
    margin-bottom: 15px;
}
.periods {

    padding: 1.5em 0;
}
.periods_inner {
    overflow: auto;
}

.app-meta i, .app-meta img {
    font-size: 20px;
}
.app-meta li {
    margin-left: 0;
}
.button.more-button{
    display:block;
    text-align:center;
}
.mobile-action {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 99;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-action a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}
section.gray-background.latest-blog {
    padding-bottom: 60px;
}
.parallax-cta h4 {
    letter-spacing: 0;
}
.footer-widget img.mb-4 {
    width: 200px;
}
.inner-widget .widget-title{
    font-size:24px;
}
.menu-list a, footer a {
    font-size: 1rem;
}
}
/*CUSTOM MODAL*/
.sep-title.h5{
    font-family: 'DM Serif Display', serif;
}
.modal-open .custom-modal {
    opacity: 1;
    display: block;
}
.modal_wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
 /* padding-top: 100px;  Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  align-items: center;
    justify-content: center;
}
#modal_content form label, #modal_content form .modal_privacy {
    color: #000;
    margin-bottom: 0;
}
#modal_content form {
    clear: both;
    display: block;
    padding: 2em 0;
    margin: 0 !important;
}
#modal_content form input[type="text"], #modal_content form input[type="email"], #modal_content form input[type="tel"], #modal_content form textarea {
    border: 1px solid #e1e4e8;
    background: #f6f6f6;
    color: #000!important;
}
.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 2em;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
}
.modal_content  textarea {
    overflow: auto;
    height: 124px;
    width: 100%;
    resize: vertical;
    padding: 8px 10px;
}
.modal_content .wpcf7 .wpcf7-form p:nth-child(7) {
    display: none;
}
.modal_content h6 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
}
.modal_list ul.amenities_content.single-app {
    padding-bottom: 25px;
    padding-top:15px;
}
.app-form-content {
    display: flex;
}
.app-form-content .img-app {
    flex-basis: 40%;
    margin-right: 30px;
}
.autocomplete-suggestions {
    z-index: 100 !important;
    background: #fff;
    border-radius: 32px !important;
    box-shadow: var(--ih-jiz-p) !important;
    margin-top: 12px !important;
    max-height: -webkit-calc(100vh - 150px) !important;
    max-height: -moz-calc(100vh - 150px) !important;
    max-height: calc(100vh - 150px) !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 16px 32px !important;
    width: auto!important;
}
.close, .close2{
    cursor:pointer;
}
.close2{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.no-button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    margin: 0;
}
@media (max-width: 450px) {
    .autocomplete-suggestions {
        width: 100% !important;
        right: 10px;
        border-radius: 10px !important;
    }
}
/*TOP HEADER*/
.wpml-ls-legacy-dropdown-click {
    background: none;
    max-width: 75px;
    border: none;
    background-color: transparent;
    font-family: 'DM Serif Display', serif;
}
.wpml-ls-legacy-dropdown-click > ul > li > a {
    display: block;
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    line-height: 1;
}

body:not(.home) .wpml-ls-legacy-dropdown-click > ul > li > a{
    color: #333;
}
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after{
    right:20px;
}
.top-header .button-primary {
    text-transform: none;
}
a.header-contact {
    font-family: 'DM Serif Display', serif;
    color:#333;
}
.home a.header-contact {
    color:#fff;
}
.wpml-ls-legacy-dropdown-click > ul > li > a:hover, .wpml-ls-legacy-dropdown-click > ul > li > a:focus, .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
    color: #d4a968;
    background: none;
}
.top-header .wpml-ls-sub-menu {
    border-radius: 10px !important;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 20%) !important;
    background: #fff;
    color: #333;
    border: none;
    overflow:hidden;
}
.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu li a {
    display: block;
    text-decoration: none;
    line-height: 1;
    color: #000;
    background-color: #fff;
        border: none;
    border-bottom: 1px solid #dee2e6;
    padding: 9px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-size: 16px;
}
.subpage-hero, .big-hero{
    display: flex;
    align-items: center;
}
.big-hero {
    min-height: 120vh;
}
.contact-box_contact {
    background-color: #cfbb9e7a;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #fff;
    padding: 50px 50px 50px 50px;
    border-radius: 10px 10px 10px 10px;
    min-height:800px;
}
.social-list_contact a {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
}
.social-list_contact.invert-social a{
    background:#D19566;
}
.social-list_contact.invert-social a i {
    color: #fff;
}
.social-list_contact a:hover{
    text-decoration:none;
}
.social-list_contact a i {
    color: #d4a968;
    width: 1em;
    height: 1em;
    text-align: center;
    font-size: 24px;
}
ul.contact-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.contact-list li {
    padding-bottom: calc(10px/2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact-list li i {
    font-size: 18px;
    width: 1.25em;
}
ul.social-list, ul.social-list_contact {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-list li, ul.social-list_contactli {
    margin-right: 10px;
}
.image-sub img {
    height: 339px;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    object-fit: cover;
}
.supsystic-social-sharing a.social-sharing-button {
    font-size: 22px!important;
}
#modal_content .wpcf7-response-output, .wpcf7 form .wpcf7-response-output {
    color: #000;
    top: -55px;
    position: relative;
}

.modal_content .wpcf7 .wpcf7-form p:nth-child(2) {
    display: none;
}
.dd_map_title {
    padding: 10px 18px 6px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    background: #f7f0e5;
    margin-bottom: 8px;
}
p.dd_map_p.small-icons {
    padding: 0 13px 5px 13px;
}
.small-icons img {
    width: 2em;
    color: #d4a968;
    margin-right: 5px;
}
.gm-style-iw.gm-style-iw-c {
    padding: 0;
}
.dd_map_title--subtitle-or, .small-info, p.dd_map_p {
    padding: 0 18px 10px 18px;
    margin-bottom: 0;
    font-size: 12px;
    color: #000;
}
.dd_map_button.dd_map_button2 {
    font-size: 12px;
    padding: 9px 12px;
}
p.dd_map_title.dd_map_title--subtitle-or {
    background: none;
}
.wpcf7-response-output {
    background-color: rgba(255,255,255,0.4);
}