html {

  scroll-behavior: smooth;

  scroll-padding-top: 140px; /* height of sticky header */

}



.box-shadow {

  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 52%) !important;

}



.or-search {

  z-index: 998;

  padding-top: 164px;

}



@media (max-width: 767px) {

  .or-search {

    padding-top: 92px;

  }

}



.filter-box--or{

  left: auto;

  bottom: auto;

  right: auto;

  transform: none;

  padding: 30px 0 15px;

  position: -webkit-sticky;

  position: sticky;

  top: 0;

  background: white;

  z-index: 111;

}



.filter-box--or form input {

  padding-left: 35px !important;

}



.filter-box--or .form_box {

    padding: 0 15px;

}



.filter-box--or form p {

  width: 100%;

  margin-right: 10px;

  height: 38px;

}


.filter-box form p:before {

    left: 8px;

    width: 20px;

    height: 17px;

    background-size: contain;

}



.filter-box form p:after {

    right: 12px;

}



.filter-box--or form p.mphb_sc_search-submit-button-wrapper {

    float: right;

    overflow: hidden;

    color: #000;

    border: unset;

    box-shadow: 0px 1px 5px #00000029;

    border-radius: 3px;

}



.filter-box--or form p.mphb_sc_search-submit-button-wrapper:before {

    margin-top: -8px;

    left: 7px;

    width: 20px;

    height: 16px;

    background: url(../images/search_magnifier.svg) no-repeat 0 0;

    background-size: contain;

    -webkit-filter: invert(100%); /* Safari/Chrome */

    filter: invert(100%);

}



.filter-box--or form p.mphb_sc_search-submit-button-wrapper:after {

  display: none;

}



.filter-box--or form p input[type="search"] {

    height: 38px;

    line-height: 38px;

    padding-left: 30px;

}



.filter-box--or form input[type="text"], .filter-box--or form .mphb_sc_search-kapacitet .select-selected {

    padding-left: 58px;

    box-shadow: 0px 1px 5px #00000029;

    border-radius: 3px;

    height: 38px;

    line-height: 38px!important;

}



.filter-box--or .adv_serch_button {

    box-shadow: 0px 1px 5px #00000029;

    border-radius: 3px;

    padding: 5px 12;

    position: relative;

    right: 0;

    font-size: 15px;

    font-weight: bold;

    color: #000;

    text-decoration: none;

}



.filter-box--or :focus-visible {

    outline: unset;

}



.advanced-filters--or {
    height: 38px;
    background: white;
    border: unset;
    box-shadow: 0px 1px 5px #00000029;
    border-radius: 3px;
    padding: 0 10px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    min-width: fit-content;
}


.mphb_sc_search-form input::placeholder {

  color: #000!important;

  opacity: 1; /* Firefox */

}



.mphb_sc_search-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */

 color: #000!important;

}



.mphb_sc_search-form input::-ms-input-placeholder { /* Microsoft Edge */

 color: #000!important;

}



.app-image--or {

  display: flex;

  min-width: 325px;

}



#resourceCount {
    text-align: left;
    color: #000;
    padding-top: 50px;
}

.accommodation-img--or {

  width: 100%;

  flex-shrink: 0;

      border-radius: 12px;
    overflow: hidden;

}



.accommodation-img--or img {

  width: 100%;

  height: 100%;

  object-fit: cover;

  position: relative;

}


.app-info--or {

  font-size: 16px;

  color: #000;

  padding-bottom: 15px;

}



.app-icons--or li {

  color: #000;

}



.app-button--or a {

  padding: 7px 24px;


}



.app-icons--or li img {

    margin: 0 0px 0 0;

    font-size: 19px;

    width: 24px;

}



.search-map--or .gm-style .gm-style-iw-c {

  padding: 0;

  max-width: 260px !important;

}



.search-map--or .gm-style .gm-style-iw-c .gm-style-iw-d {

  padding: 0;

  overflow: unset !important;

  max-height: unset !important;

}



.search-map--or .gm-style .gm-style-iw-c .gm-style-iw-d a {

  text-decoration: unset;

}



.search-map--or .gm-style .gm-style-iw-c button.gm-ui-hover-effect {

  width: 34px !important;

  height: 34px !important;

  background: white !important;

  opacity: 1 !important;

}



.search-map--or .gm-style .gm-style-iw-c button.gm-ui-hover-effect img {

  width: 20px !important;

  height: 20px !important;

  margin-top: 6px !important;

  margin-left: 4px !important;

  margin-right: 0 !important;

  margin-bottom: 0 !important;

}



.dd_map_title--or {

    padding: 10px 18px 6px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    background: #f7f0e5;
    margin-bottom: 8px;

}



.dd_map_title--subtitle-or, .small-info {
    padding: 0 18px 10px 18px;
    margin-bottom: 0;
    font-size: 12px;
    color: #000;
}


.modal--or {

    position: fixed;

    z-index: 99999999999999999;

    top: 0;

    left: 0;

    visibility: hidden;

    max-width: 100% !important;

    width: 100%;

    height: 100%;

    overflow: auto;

    display: none;

}



.modal--or.is-visible {

    visibility: visible;

    display: block;

}



.modal-overlay {

  position: fixed;

  z-index: 99999999999999999;

  top: 0;

  left: 0;

  width: 100% !important;

  height: 100%;

  background: hsla(0, 0%, 0%, 0.5);

  visibility: hidden;

  opacity: 0;

  transition: visibility 0s linear 0.3s, opacity 0.3s;

}



.modal-overlay.is-visible {

  opacity: 1;

  visibility: visible;

  transition-delay: 0s;

  display: block;

}



.modal-wrapper {

  position: absolute;

  z-index: 999999999999999999;

  top: 200px;

  overflow-y: auto;

  left: 50%;

  transform: translateX(-50%);

  width: 100%;

  max-width: 970px;

  padding-bottom: 4.5em;

  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);

}



.modal-transition {

  transition: all 0.3s 0.12s;

  opacity: 0;

}



.modal--or.is-visible .modal-transition {

  opacity: 1;

}



.modal-header,

.modal-content {

  padding: 20px;

}



.modal--or .modal-header {

  position: relative;

  background-color: #fff;

  text-align: center;

  border-bottom: 0;

}



.modal--or .modal-body {

    background-color: #fff;

}



.modal--or .modal-header h2, .modal--or h3 {

  margin: auto;

  margin-top: 20px;

  font-weight: 500;

  line-height: 1.2;

  font-size: 32px;

}



.modal--or h3 {

  margin-bottom: 20px;

  margin-top: 0;

}



.modal--or .modal-close {

  position: absolute;

  top: 0;

  right: 0;

  padding: 1em;

  color: #000;

  font-weight: 600;

  background: none;

  border: 0;

}



.modal-close:hover {

  color: #777;

}



.modal-heading {

  font-size: 1.125em;

  margin: 0;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

}



.modal-content {

  border: 0;

}



.modal-content > *:first-child {

  margin-top: 0;

}



.modal-content > *:last-child {

  margin-bottom: 0;

}



.searchandfilter--or .dd_range--or {

  text-align: left;

}



.searchandfilter--or .meta-slider {

  max-width: 100%;

}



.searchandfilter--or .noUi-connect {

    background-color: rgb(222, 175, 105);

}



.searchandfilter--or .sf-meta-range-slider {

  font-weight: bold;

}



.searchandfilter--or .accommodation-details--or {

  text-align: left;

}



.searchandfilter--or .accommodation-details--or p {

  font-size: 18px;

  line-height: 18px;

  color: #000;

}





.accommodation-details--or .quantity {

  position: relative;

  display: flex;

}



.accommodation-details--or input[type=number]::-webkit-inner-spin-button,

.accommodation-details--or input[type=number]::-webkit-outer-spin-button

{

  -webkit-appearance: none;

  margin: 0;

}



.accommodation-details--or input[type=number]

{

  -moz-appearance: textfield;

}



.accommodation-details--or .quantity input {
    width: 50px;
    height: 25px;
    line-height: 1.65;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 0 !important;
}

.accommodation-details--or .quantity input:focus {

  outline: 0;

  width: 50px;

  height: 25px;

  line-height: 1.65;

}



.accommodation-details--or .quantity-button {

  position: relative;

  cursor: pointer;

  border-left: 1px solid #eee;

  width: 20px;

  text-align: center;

  color: #333;

  font-size: 13px;

  line-height: 1.7;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  -o-user-select: none;

  user-select: none;

}



.accommodation-details--or .quantity-button.quantity-up {

  border: 1px solid #ccc;

}



.accommodation-details--or .quantity-button.quantity-down {

  order: -1;

  border: 1px solid #ccc;

}



.sf-field-post-meta-basic_info_beds {

  display: flex !important;

}

.sf-field-post-meta-basic_info_beds, .sf-field-post-meta-basic_info_rooms, .sf-field-post-meta-basic_info_bathrooms{

  display: flex !important;

}



.sf-field-post-meta-basic_info_beds p, .sf-field-post-meta-basic_info_bathrooms p, .sf-field-post-meta-basic_info_rooms p {

  display: inline-block !important;

  width: 30% !important;

  margin-top: 0 !important;

  min-width: fit-content;

}



.accommodation-details--or p:before, .accommodation-details--or p:after {

  display: none;

}



.checkboxes--or {

  padding-top: 50px;

  text-align: left;

}



.checkboxes--or ul {

  display: flex;

  flex-wrap: wrap;

}



.checkboxes--or ul>li {

  display: flex;

  flex: 1 1 30%;

}



.checkboxes--or ul>li .sf-label-checkbox {

  display: flex;

}



.checkboxes--or ul>li .sf-label-checkbox .sf-input-checkbox {

  width: 25px;

  height: 25px;

  margin-right: 5px;

}



.buttons--or {

  display: flex !important;

  justify-content: space-between;

}



.buttons--or__count {

  display: flex !important;

}



.buttons--or .resource_count {

  margin-top: auto;

}



.buttons--or .search-filter-reset {

  font-size: 19px;

  line-height: 19px;

  padding: 0 40px;

  color: #000;

  height: 48px !important;

}



.buttons--or .search-filter-submit {
    background: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 12px 24px!important;
    color: #000 !important;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    height: auto !important;
    transition: 0.3s all;
}


.buttons--or .search-filter-reset:focus, .buttons--or .search-filter-submit:focus {

  font-size: 19px;

  line-height: 19px;

}



.buttons--or .search-filter-reset:hover {

    text-decoration: underline;

}



.buttons--or .search-filter-submit:hover {

    background: #DEAF69;

}



.checkbox--or {

  display: flex;

  margin-bottom: 15px;

}



.checkbox--or input {

  padding: 0;

  height: initial;

  width: initial;

  margin-bottom: 0;

  display: none;

  cursor: pointer;

}



.checkbox--or label {

  position: relative;

  cursor: pointer;

  margin-bottom: 0;

  padding-bottom: 0;

  display: flex;

  align-items: center;

  font-size: 18px;

}



.checkbox--or label:before {

  content:'';

  -webkit-appearance: none;

  background-color: transparent;

  border: 2px solid #C0C0C0;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);

  padding: 9px;

  display: inline-block;

  position: relative;

  vertical-align: middle;

  cursor: pointer;

  margin-right: 10px;

}



.checkbox--or input:checked + label:before {

  background-color: #DEAF69;

  border-color: transparent;

}



.checkbox--or input:checked + label:after {

  content: '';

  display: block;

  position: absolute;

  top: 3px;

  left: 18px;

  width: 8px;

  height: 15px;

  border: solid #fff;

  border-width: 0 2px 2px 0;

  transform: rotate(45deg);

}



.checkbox--or--search {

  position: absolute;

  right: 15px;

  z-index: 1;

  top: 25px;

  background: #fff;

  padding: 10px 10px;

  font-size: 16px;

  line-height: 16px;

  color: #000;

  font-weight: 600;

  box-shadow: 0px 3px 6px #00000029;

}



.checkbox--or--search label {

  margin-bottom: 0;

  margin-bottom: 0;

  padding-bottom: 0;

  display: flex;

  align-items: center;

  font-size: 14px;

  line-height: 14px;

}



.checkbox--or--search label:before {

  padding: 6px;

  border: 2px solid #DEAF69;

}



.checkbox--or--search input:checked + label:after {

  content: '';

  display: block;

  position: absolute;

  top: 2px;

  left: 5px;

  width: 6px;

  height: 10px;

}



.or-search .appartments-map {

  position: relative;

}



.map-button--or {

  -webkit-appearance: button;

      cursor: pointer;

      -webkit-box-pack: center !important;

      -webkit-box-align: center !important;

      appearance: none !important;

      border-radius: 24px !important;

      border: 1px solid rgba(0, 0, 0, 0.08) !important;

      outline: none !important;

      margin: 0px !important;

      padding: 11px 19px !important;

      color: #ffff !important;

      cursor: pointer !important;

      touch-action: manipulation !important;

      align-items: center !important;

      justify-content: center !important;

      box-shadow: none !important;

      transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;

      background: rgb(34, 34, 34) !important;

      font-size: 12px !important;

      line-height: 16px !important;

      position: fixed;

      bottom: 10%;

      z-index: 999999999999999;

      left: 50%;

      transform: translateX(-50%);

      display: none;

}



.map-button--or img {

  height: 16px;

  width: 16px;

  margin-left: 10px;

}



.header-transparent--hide {

  z-index: 2 !important;

  transition: 0s;

}



@media (min-width: 1671px) {

  .or-search .app-container {

    width: 50%;

  }



  .or-search .appartments-map {

    position: relative;

    width: 50%;

  }

}





@media (max-width: 1270px) {

  .or-search .app-container {

    width: 70%;

  }



  .or-search .filter-box--or form {

    flex-wrap: wrap;

    height: unset;

    flex-direction: row;

  }



  .or-search .filter-box--or form > * {

    margin-bottom: 15px;

  }



  .or-search .appartments-map {

    width: 30%;

  }

}



@media (max-width: 1000px) {

  .or-search .app-container {

    width: 100%;

    float: unset;

  }



  .or-search .app-container li.app-list_single {

    flex-direction: column;

  }



  .or-search .app-container li.app-list_single .app-image {

    width: 100%;

  }



  .or-search .appartments-map {

    width: 100%;

    float: unset;

    padding-top: 28px;

  }



  .checkbox--or--search {

    top: 50px;

  }



  .map-button--or {

    display: inline-flex;

  }



  .map-button--or--hide {

    display: none;

  }

}



@media (max-width: 720px) {

  .or-search .filter-box--or {

    padding-top: 0;

  }

  .or-search .filter-box--or form {

    flex-wrap: wrap;

    height: unset;

  }



  .or-search .filter-box--or form > * {

    max-width: 100%;

    margin-left: 0;

    margin-right: 0;

    width: 100%;

    margin-bottom: 15px;

  }



  .or-search .t-datepicker--search {

    padding-right: 0 !important;

  }



  #mphb_kapacitet-mphb-search-form, #mphb_kapacitet-mphb-search-form--locations {

    width: 100% !important;

  }



  .accommodation-details--or li {

    display: flex !important;

    justify-content: space-between;

  }



  .checkboxes--or ul>li {

    flex: 1 1 50%;

  }



  .buttons--or .buttons--or__count {

    display: none !important;

  }

}



@media (max-width: 450px) {

  .checkboxes--or ul>li {

    flex: 1 1 50%;

  }

}





/**/



 .select-hidden {

   display: none;

   visibility: hidden;

   padding-right: 10px;

}

 .select, .select--people {

   cursor: pointer;

   display: inline-block;

   position: relative;

   margin-right: 10px;

   box-shadow: 0px 1px 5px #00000029;

   border-radius: 3px;

   height: 38px;

   line-height: 38px !important;

   position: relative;

   min-width: 155px;

   font-weight: 600;

   font-size: 16px;

}



 .select select, .select--people select {

  visibility: hidden;

}



 .select-styled, .select-styled--people {

   position: absolute;

   top: 0;

   right: 0;

   bottom: 0;

   left: 0;

   padding-left: 35px;

   text-align: left;

}



.select-styled:before {

  content: '';

  width: 34px;

  height: 24px;

  margin-top: -12px;

  background-size: contain;

  position: absolute;

  top: 50%;

  left: 9px;

  background: url(../images/search_pin.svg) no-repeat 0 0;

}





.select-styled--people:before {

    content: '';

    width: 34px;

    height: 24px;

    margin-top: -12px;

    background: url(../images/icon_guests_black.svg) no-repeat 0 0;

    background-size: contain;

    position: absolute;

    top: 50%;

    left: 9px;

}



 .select-options {

  display: none;

  position: absolute;

  top: 100%;

  right: 0;

  left: 0;

  z-index: 999;

  margin: 0;

  padding: 0;

  text-align: left;

  list-style: none;

  background: #fff;

  border: 1px solid #e7e7e7;

}

 .select-options li {

  margin: 0;

  border-top: 1px solid #e7e7e7;

  padding-left: 15px;

}

 .select-options li:hover, .select-options li.is-selected {

  background-color: #BA945B;

}

 .select-options li[rel="hide"] {

   display: none;

}



@media (min-width: 783px) {

  .datepick-popup--or {

    left: 164px !important;

    transform: unset !important;

  }

}








.gm-style img {

  max-height:none;

}



.bold {

  font-weight: bold;

}



.modal-toggle-range--wrapp {

  margin-right: 10px;

  position: relative;

  display: flex;

  flex-direction: column;

  cursor: pointer;

}



.modal-toggle-range--wrapp .dropdown-menu {

  padding: 20px 15px;

}



.modal-toggle-range {

  padding-left: 25px;

}

.guest-icon {
    position: absolute;
    right: 0;
    top: 9px;
}

.modal-toggle-range::before {

  display: inline-block;

  content: "";

  position: absolute;

  left: 2px;

  width: 20px;

  height: 21px;

  margin-top: 4px;

  background: url(../images/icon_guests_black.svg) no-repeat 0 0;

  background-size: contain;

}



.modal-toggle-range::after {

  display: none;

}



.main--or {

  width: 300px;

  position: relative;

}



.main--or::before {

  content: '1';

  font-size: 14px;

  color: #000;

  position: absolute;

  left: -5px;

  bottom: -20px;

}



.main--or::after {

  content: '20';

  font-size: 14px;

  color: #000;

  position: absolute;

  right: -5px;

  bottom: -20px;

}



#slider {

  -webkit-appearance: none; 

  width: 100%;

  height: 7px;

  border-radius: 3px;

  line-height: 7px;

  padding: 0 !important;

}



/* Design slider button */

#slider::-webkit-slider-thumb {

  -webkit-appearance: none;

  width: 28px;

  height: 26px;

  cursor: pointer;

  position: relative;

  z-index: 3;

  margin-top: -8px;

}



#slider::-webkit-slider-runnable-track {

  background: #EFEFEF;

  border-radius: 4px;

  width: 100%;

  height: 7px;

  cursor: pointer;

}



/* Firefox */

#slider::-moz-range-track {

  background: #EFEFEF;

  border-radius: 4px;

  width: 100%;

  height: 14px;

  cursor: pointer;

}





#selector {

  width: 22px;

  position: absolute;

  bottom: -20px;

  left: 10%;

  transform: translateX(-50%);

  z-index: 2;

}

.selectBtn {

  height: 17px;

  width: 17px;

  background-color: #fff;

  border-radius: 50%;

  position: absolute;

  bottom: 21px;

  box-shadow: 0px 3px 6px #00000038;

}

#selectValue {

  width: 20px;

  height: 20px;

  position: absolute;

  top: -65px;

  background: #000;

  text-align: center;

  line-height: 20px;

  font-size: 13px;

  font-weight: bold;

  left: -1px;

  color: #fff;

}

#selectValue::after {

  content: '';

  border-top: 7px solid #000;

  border-left: 10px solid #fff;

  border-right: 10px solid #fff;

  position: absolute;

  bottom: -3px;

  left: 0;

}

#progressBar {

  width: 50%;

  height: 7px;

  background: #DEAF69;

  border-radius: 3px;

  position: absolute;

  bottom: 7px;

  left: 0;

}









/* Range 2  */

.price-range--or  {

  position: relative;

}



.filter-box .price-range--or input:focus {

  height: 20px;

  background: unset;

  line-height: 20px;

}



.price-range--or {

  margin-bottom: 50px !important;

}



.price-range--or input[type="range"]{

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;

    width: 100%;

    outline: none;

    position: absolute;

    margin: auto;

    top: 120px;

    bottom: 0;

    background-color: transparent;

    pointer-events: none;

    padding: 0 !important;

    left: 0;

    height: 20px;

    line-height: 20px;

}

.price-range--or .slider-track{

    width: 100%;

    height: 10px;

    position: absolute;

    margin: auto;

    top: 120px;

    bottom: 0;

    border-radius: 5px;

    background: #deaf69;

}

.price-range--or input[type="range"]::-webkit-slider-runnable-track{

    -webkit-appearance: none;

    height: 5px;

}

.price-range--or input[type="range"]::-moz-range-track{

    -moz-appearance: none;

    height: 5px;

}

.price-range--or input[type="range"]::-ms-track{

    appearance: none;

    height: 5px;

}

.price-range--or input[type="range"]::-webkit-slider-thumb{

    -webkit-appearance: none;

    height: 1.7em;

    width: 1.7em;

    background-color: #fff;

    cursor: pointer;

    margin-top: -9px;

    pointer-events: auto;

    border-radius: 50%;

    border-color: #ccc;

    box-shadow: 0 2px 4px 0 rgb(140 140 140 / 50%), 0 -2px 4px 0 rgb(140 140 140 / 40%);

}

.price-range--or input[type="range"]::-moz-range-thumb{

    -webkit-appearance: none;

    height: 1.7em;

    width: 1.7em;

    cursor: pointer;

    border-radius: 50%;

    background-color: #fff;

    pointer-events: auto;

    border-color: #ccc;

    box-shadow: 0 2px 4px 0 rgb(140 140 140 / 50%), 0 -2px 4px 0 rgb(140 140 140 / 40%);

}

.price-range--or input[type="range"]::-ms-thumb{

    appearance: none;

    height: 1.7em;

    width: 1.7em;

    cursor: pointer;

    border-radius: 50%;

    background-color: #fff;

    pointer-events: auto;

    border-color: #ccc;

    box-shadow: 0 2px 4px 0 rgb(140 140 140 / 50%), 0 -2px 4px 0 rgb(140 140 140 / 40%);

}

.price-range--or input[type="range"]:active::-webkit-slider-thumb{

    background-color: #ffffff;

    border: 3px solid #ccc;

}

.price-range--or .values{

  display: inline-block;

  position: relative;

  padding: 10px 0;

  border-radius: 5px;

  text-align: center;

  font-weight: 500;

  font-size: 18px;

  color: #000;

}

.appartments-grid .product-price-or {
    color: #000;
    font-size: 18px;
    line-height: 14px;
    display: inline-block;
    position: relative;
    z-index: 1;
background:none;
padding:0;
border-radius:0;
left:auto;
top:auto
}

.product-price-or {

  background: #000;

  padding: 5px 10px;

  color: #fff;

  border-radius: 3px;

  font-size: 14px;

  line-height: 14px;

  font-weight: bold;

  display: inline-block;

  position: absolute;

  left: 10px;

  top: 10px;

  z-index: 1;

}





.price-range--or .adv-locations--or  {

  display: flex;

}



.price-range--or .adv-locations--or select, .price-range--or .adv-locations--or select:focus {

  width: auto;

  height: auto;

  line-height: 20px;

  padding: 5px 15px;

  border-bottom: 1px solid;

  border-radius: 0;

}



.price-range--or .adv-locations--or select option {

  padding: 5px 15px;

}



.searchandfilter--or .adv-locations--or {

  display: flex;

}



.searchandfilter--or .adv-locations--or .adv-locations--or__label {

  width: 27%;

}

.searchandfilter--or .adv-locations--or .mphb_sc_search-submit-button-wrapper {

  max-width: 200px;

  width: 100%;

  font-size: 16px;

  margin-bottom: 10px;

  margin-top: 3px;

  box-shadow: unset;

  border-bottom: 1px solid #deaf69;

  border-radius: 0;

}



.searchandfilter--or .adv-locations--or .mphb_sc_search-submit-button-wrapper:before {

  content: '';

  margin-top: -8px;

  left: 7px;

  width: 18px;

  height: 14px;

  background: url(../images/search_magnifier.svg) no-repeat 0 0;

  background-size: contain;

  -webkit-filter: invert(100%);

  filter: invert(100%);

  display: block !important;

}



.searchandfilter--or .adv-locations--or .adv-locations--or__wrapper__select {

  position: relative;

}





.searchandfilter--or .adv-locations--or .adv-locations--or__wrapper__select:before {

  content: '';

  left: 7px;

  width: 20px;

  height: 20px;

  background: url(../images/pin-color.svg) no-repeat 0 0;

  background-size: contain;

  display: inline-block !important;

  position: absolute;

  bottom: 24px;

}



.searchandfilter--or .adv-locations--or .adv-locations--or__wrapper__select:after {

  content: '';

  right: 7px;

  width: 14px;

  height: 14px;

  display: inline-block !important;

  background: url(../images/angle_down_g.svg) no-repeat 0 0;

  background-size: contain;

  position: absolute;

  bottom: 24px;

}



.searchandfilter--or .adv-locations--or .adv-locations--or__select {

  border-bottom: 1px solid #deaf69;

  height: 30px;

  margin-top: 6px;

  min-width: 200px;

  width: auto;

  padding-right: 30px;

  padding-left: 35px;

  line-height: 30px;

}





/* TOGGLE BUTTON  */

.searchandfilter--or .adv-toggle--or {

  display: flex;

  position: relative;

  padding-top: 0;

  padding-bottom: 0;

}



.searchandfilter--or .adv-toggle--or.adv-toggle--or--pb {

  padding-bottom: 10px;

}



.searchandfilter--or .adv-toggle--or .adv-toggle--or__label {

  width: 30%;

}



.searchandfilter--or .adv-toggle--or .adv-toggle--or__wrapper {

  position: relative;

  min-width: 75px;

}



.searchandfilter--or .adv-toggle--or .button-cover,

.searchandfilter--or .adv-toggle--or .knobs,

.searchandfilter--or .adv-toggle--or .layer {

  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

}



.searchandfilter--or .adv-toggle--or .toggle-button--or {

  position: relative;

  top: 50%;

  width: 74px;

  height: 36px;

  margin: -20px auto 0 auto;

  overflow: hidden;

}



.searchandfilter--or .adv-toggle--or .toggle-button--or.r,

.searchandfilter--or .adv-toggle--or .toggle-button--or.r .layer {

  border-radius: 100px;

}



.searchandfilter--or .adv-toggle--or .toggle-button--or.b2 {

  border-radius: 2px;

}



.searchandfilter--or .adv-toggle--or .checkbox {

  position: relative;

  width: 100%;

  height: 100%;

  padding: 0;

  margin: 0;

  opacity: 0;

  cursor: pointer;

  z-index: 3;

  padding-left: 0 !important;

  line-height: unset;

}



.searchandfilter--or .adv-toggle--or .knobs {

  z-index: 2;

}



.searchandfilter--or .adv-toggle--or .layer {

  width: 100%;

  background-color: #faf8f5;

  transition: 0.3s ease all;

  z-index: 1;

}



/* Button 1 */

.searchandfilter--or .adv-toggle--or #button-1 .knobs:before {

  content: "NO";

  position: absolute;

  top: 4px;

  left: 4px;

  width: 40px;

  color: #000;

  font-size: 10px;

  font-weight: bold;

  text-align: center;

  line-height: 1;

  padding: 9px 4px;

  background-color: rgba(71, 71, 71, 0.2);

  border-radius: 30px;

  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;

}



.searchandfilter--or .adv-toggle--or #button-1 .checkbox:checked + .knobs:before {

  content: "YES";

  left: 30px;

  background-color: #d7b56d;

  color: #fff;

}



.searchandfilter--or .adv-toggle--or #button-1 .checkbox:checked ~ .layer {

  background-color: #faf8f5;

}



.searchandfilter--or .adv-toggle--or #button-1 .knobs,

.searchandfilter--or .adv-toggle--or #button-1 .knobs:before,

.searchandfilter--or .adv-toggle--or #button-1 .layer {

  transition: 0.3s ease all;

}



/* Home Page search */

.filter-box form .mphb_sc_search-location-homepage--or:before {

  background: url(../images/search_magnifier.svg) no-repeat 0 0;

  background-size: contain;

  -webkit-filter: invert(100%);

  filter: invert(100%);

  left: 30px;

  width: 14px;


}



.mphb_sc_search-location-homepage--or:after {

  display: none;

}



.modal-toggle-range--wrapp--homepage {

  margin: auto;

  position: relative;

}


/*
.modal-toggle-range--wrapp--homepage:before {

  content: '';

  padding: 6px;

  position: absolute;

  right: 0px;

  top: 15px;

  background: url(../images/angle_down_w.svg) no-repeat 0 0;

  background-size: contain;

  -webkit-filter: invert(100%);

  filter: invert(100%);

}
*/


.modal-toggle-range--wrapp--homepage .modal-toggle-range {

  box-shadow: unset;

  padding: 0 40px;

}



.credit-cards--or {

  display: flex;

  justify-content: center;

}



.credit-cards--or li {

  padding-right: 15px;

}





.filter-box--or--homepage {

  left: unset;

  transform: unset;

}



.advanced-filters--or--homepage {

  position: absolute;

  right: 0;

  bottom: -50px;

  color: white;

  background: transparent;

  border: 2px solid #fff;

  max-width: 210px;

  width: 100%;

  transition: 0.2s;

}



.advanced-filters--or--homepage:hover {

  background: #deaf69;

}



.searchandfilter--or .accommodation-details--or.accommodation-details--or--homepage p {

  height: 38px;

}



.searchandfilter--or .accommodation-details--or--homepage #advSearchLocation {

  height: 38px;

  padding-left: 25px;

}



.searchandfilter--or .accommodation-details--or--homepage #advSearchLocation:focus-visible {

  outline: none;

}



.sf-field-submit--or--homepage {

  display: flex !important;

}



.sf-field-submit--or--homepage .search-filter-submit--or {

  margin-left: 25px;

  background: #deaf69;

}



.sf-field-submit--or--homepage .search-filter-submit--or:hover {

  background: #a78d64;

}



.modal--or--homepage {

  font-size: 18px;

  font-weight: 400;

  font-family: 'Nunito Sans', sans-serif;

}



.filter-box form > p:last-of-type:after {

  background: unset !important;

}

.filter-box .mphb_sc_search-location-homepage--or input {

    padding: 14px 15px 14px 50px !important;

  }
.mphb_sc_search-check-in-date:before, .mphb_sc_search-check-out-date:before {

    content: '';

    width: 20px;

    height: 17px;

    background: url(../images/search_cal_a.svg) no-repeat 0 0;

    background-size: contain;

}

@media (max-width: 991px) {

  .mphb_sc_search-location-homepage--or:before {

    left: 13px !important;

  }



  



  .modal-toggle-range--wrapp--homepage {

    width: 100%;

  }



  .modal-toggle-range--wrapp--homepage:before {

    right: 11px;

    top: 20px;

  }



  .modal-toggle-range::before {

    left: 8px;

  }



  .modal-toggle-range--wrapp--homepage .modal-toggle-range {

    text-align: left;

    padding: 0 32px;

  }



  .filter-box form p.mphb_sc_search-submit-button-wrapper--homepage input {

    text-align: center;

  }



  .filter-box form p.mphb_sc_search-submit-button-wrapper--homepage:before {

    left: calc(50% - 52px);

  }



  .advanced-filters--or--homepage {

    right: calc(50% - 105px);

  }



  .filter-box--or .datepick--or {

    box-shadow: 0px 1px 5px #00000029;

  }

}



@media (max-width: 600px) {

  .searchandfilter--or .adv-toggle--or .adv-toggle--or__label {

    width: unset;

  }



  .price-range--or li {

    display: block !important;

  }



  .modal-toggle-range {

    text-align: left;

    padding-left: 32px;

  }

}



#resourceList {

  display: flex;

  flex-direction: column;

}



#resourceList .loading {

  font-size: 30px;

  font-weight: bold;

  margin: auto;

}



.modal-toggle-range--wrapp .dropdown-menu {

      margin-top: -25px;

}



.modal-toggle-range--wrapp--homepage .dropdown-menu {

      margin-top: 20px;

      margin-left: -20px;

}



.modal-guests .accommodation-details--or--homepage {

  width: 100%;

  min-width: max-content;

}



.modal-guests .accommodation-details--or--homepage p {

  float: unset;

  padding-right: 10px;

  height: unset;

}



.modal-guests .accommodation-details--or--homepage li {

  justify-content: space-between;

}



.modal-guests .accommodation-details--or--homepage li:not(:last-of-type) {

  padding-bottom: 15px;

}



.modal-guests__info span {

  display: block;

}



.modal-guests__info span:last-of-type {

  font-size: 13px;

  opacity: 0.5;

  text-align: left;

}



.modal-guests .checkbox--or {

  margin-bottom: 0;

}



.modal-guests .checkbox--or label {

  font-size: 15px;

  line-height: 16px;

}



.modal-guests .checkbox--or label:before {

  padding: 7px;

}



.modal-guests .checkbox--or input:checked + label:after {

  top: 1px;

  left: 7px;

  width: 6px;

  height: 13px;

}

.filter-box .t-datepicker {

    width: 39%;

    display: flex;

}



.filter-box .t-datepicker .t-dates {

    height: 100%;

    padding-top: 25px;

    font-weight: 600;

}



.filter-box .t-datepicker .mphb_sc_search-check-in-date,.filter-box .t-datepicker .mphb_sc_search-check-out-date {

    margin: auto;

    width: 50%;

}



.filter-box .t-datepicker .t-date-info-title {

    top: 25px;

    opacity: 1;

    font-size: 1em;

    font-weight: bold;

}





.filter-box .t-datepicker--search {

    width: 100%;

    max-width: 47%;

    justify-content: space-between;

    min-width: unset;

    padding-right: 10px;

    margin-bottom: 10px;

}



.filter-box .t-datepicker--search .datepick--or {

  width: 49%;

  margin: unset;

}



.filter-box .t-datepicker--search .datepick--or:after {

  display: none;

}



.filter-box .t-datepicker--search .t-dates {

    padding-top: 10px;


}



.filter-box .t-datepicker--search .t-date-info-title {

    top: 10px;

}



.t-hover-day:after {

  display: none;

}



.t-hover-day-content {

  display: none;

}



.pagination--or .page-link {

  color: #000;

}



.pagination--or .page-link.active {

  color: #fff;

  background: #DEAF69;

}



.pagination--or .page-link:focus {

  box-shadow: none;

}



.pagination--or .disabled {

  opacity: 0.5;

}



.pagination--or .pagination-prev--or img {

  max-height: 1rem;

  filter: invert(100%);

  transform: rotate(180deg);

}



.pagination--or .pagination-next--or img {

  max-height: 1rem;

  filter: invert(100%);

}



.pagination-wrapp-or {

  margin-bottom: 30px;

  margin-top: 25px;

}





.mphb_sc_search-form--result {

  flex-wrap: wrap;

  justify-content: space-between;

  padding-bottom: 25px;

  height: unset!important;

}



.mphb_sc_search-form--result .mphb_sc_search-submit-button-wrapper {

  max-width: 20%;

  margin-bottom: 10px;

}



.mphb_sc_search-form--result .modal-toggle-range--wrapp {

  width: 24%;

  margin-right: 0;

  margin-bottom: 10px;

}



.search-res-submit-wrapp {

  width: 49%;

}



.search-res-submit {

  width: 100%;

  color: #fff;

  background: #000;

  height: 38px;

  border: unset;

  box-shadow: 0px 1px 5px #00000029;

  border-radius: 3px;

  padding: 0 10px;

  font-size: 1em;

  font-weight: 600;

  min-width: fit-content;

  transition: 0.3s;

}



.search-res-submit:hover {

  background: #BA945B;

}



.mphb_sc_search-form--result .modal-toggle {

  width: 49%;

}



.mphb_sc_search-form--result .modal-toggle-range--wrapp .dropdown-menu {

  margin-top: 5px;

  right: 0;

  left: unset;

}



.mobile--modal {

  display: none;

}



@media (max-width: 991px) {

.home-hero {

  z-index: 2;

}



  .filter-box .mobile--form {

    display: none;

  }



  .mobile--modal {

    display: inline-block;

    position: relative;

    text-align: left;

    font-size: 20px;

    color: #000;

    padding: 14px 10px 14px 30px !important;

    border: 1px solid #ededed;

    box-shadow: 0px 1px 5px #00000029;

    border-radius: 30px;

    max-width: 400px;

    width: 100%;

    font-weight: bold;

    top: 50%;

  }



  .mobile--modal img {

    -webkit-filter: invert(100%); /* Safari/Chrome */

    filter: invert(100%);

    margin-top: -4px;

    margin-right: 17px;

    width: 18px;

    margin-left: 10px;

  }



  .filter-box .mobile--form-show {

    display: block;

    position: absolute;

    top: -50px;

    box-shadow: 0px 1px 5px #00000029;

    max-width: 90%;

    left: 5%;

  }



  .filter-box--or--homepage .mobile--modal-close {

    display: block !important;

    background: transparent;

    border: 0;

    text-align: right;

    margin-left: auto;

    margin-right: 10px;

    margin-top: 10px;

    line-height: 30px;

  }



  .filter-box--or--homepage form .mphb_sc_search-lokacija {

    overflow: visible;

    border: 0px;

    margin-bottom: 15px;

    border: 1px solid #ededed;

    border-radius: 30px;

  }



  .filter-box form .mphb_sc_search-grad .select-selected {

    border: 0px;

    height: 40px;

    line-height: 40px;

    width: 98%;

    margin-top: 2px;

  }



  .advanced-filters--or--homepage--wrapper {

    border-top: 1px solid #ccc;

    padding-bottom: 15px;

  }



  .filter-box--or--homepage .t-datepicker .t-dates {

    padding-top: 10px;

  }



  .filter-box--or--homepage  .t-datepicker .t-date-info-title {

    top: 10px;

  }



  .filter-box--or--homepage .t-check-out .t-datepicker-day {

    left: unset;

  }



  .filter-box--or--homepage .filter-wrapper {

    height: unset;

  }



  .filter-box--or--homepage .mphb_sc_search-form {

    height: unset;

    flex-direction: column;

    padding: 10px;

  }



  .filter-box--or--homepage .mphb_sc_search-location-homepage--or {

    width: 100%;

    margin-bottom: 15px;

  }



  .filter-box--or--homepage .mphb_sc_search-location-homepage--or input {

    border: 1px solid #ededed;

    border-radius: 30px;

  }

  .filter-box--or--homepage .t-datepicker {

    width: 100%;

    max-width: 100%;

    flex-direction: column;

  }



  .filter-box--or--homepage .t-datepicker .mphb_sc_search-check-in-date,.filter-box--or--homepage .t-datepicker .mphb_sc_search-check-out-date  {

    width: 100%;

    border-radius: 30px;

    margin-bottom: 15px;

    overflow: visible;

  }



  .filter-box--or--homepage .modal-toggle-range--wrapp--homepage {

    height: 45px;

    margin-bottom: 15px;

  }



  .filter-box--or--homepage .modal-toggle-range--wrapp--homepage .advanced-filters--or {

    border: 1px solid #ededed;

    border-radius: 30px;

  }



  .filter-box--or--homepage .modal-toggle-range--wrapp--homepage .modal-toggle-range {

    height: 45px;

  }





  .filter-box--or--homepage .mphb_sc_search-submit-button-wrapper--homepage {

    width: 100%;

    border-radius: 30px;

    order: 1;

  }



  .modal-toggle-range--wrapp--homepage .dropdown-menu {

    width: 100%;

        margin-left: 0;

  }



  .filter-box--or--homepage .advanced-filters--or--homepage {

    position: relative;

    top: unset;

    right: unset;

    bottom: unset;

    color: black;

    width: 100%;

    max-width: 100%;

    height: 45px;

    border-radius: 5px;

    margin-top: 15px;

    margin-bottom: 15px;

    background: #eaeaea;

    box-shadow: unset;

  }



  .filter-box form .datepick--or {

    overflow: visible;

  }

}





@media (max-width: 450px) {

  .checkbox--or label {

    font-size: 14px;

  }



  .modal-header, .modal-content {

    padding: 0;

  }



  .searchandfilter--or .adv-toggle--or .adv-toggle--or__label {

    font-size: 15px;

  }



  .checkbox--or {

    margin-bottom: 5px;

  }



  .filter-box .modal--or .modal-header {

    background-color: #efefef;

  }



  .filter-box .modal--or .modal-header h2 {

    padding: 10px;

    margin-top: auto;

    font-size: 20px;

  }



  .filter-box .modal--or .modal-header .modal-close {

    padding: 10px;

    display: block !important;

    width: unset !important;

  }



  .sf-field-submit--or--homepage .modal-toggle {

    display: none;

  }



  .sf-field-submit--or--homepage {

    width: 100%;

  }



  .sf-field-submit--or--homepage .search-filter-submit--or {

    margin-left: 0;

    border-radius: 30px;

  }



  .modal--or h3 {

    font-size: 25px;

  }

}





/* ------------ mobile search page -------------------  */

@media (min-width: 721px) {

  .mobile-search-filters--or, .filter-box--or__mobile-header, .modal-overlay--mobile, .btn-close--or, .mobile-map-list-toggle {

    display: none !important;

  }

}



@media (max-width: 720px) {

  #resourceCount {

    display: none;

  }

  .advanced-filters--or--mobile--hide {
    display: none !important;
  }



  .mobile-search-filters--or {

    display: flex;

    justify-content: space-between;

    padding: 15px;

  }



  .mobile-search-filters--or div {

    display: flex;

  }



  .mobile-search-filters--or p,.mobile-search-filters--or span {

    margin-bottom: auto;

    margin-top: auto;

  }



  .mobile-search-filters--or button {

    box-shadow: 0px 1px 5px #00000029;

  }



  .filter-box--or {

    display: none;

    position: fixed;

    top: unset;

    bottom: 0;

    padding: 15px 0 15px;

    z-index: 99999999999999999;

    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    overflow-y: auto;

    overflow-x: hidden;

  }



  .filter-box--or.filter-box--or--visible {

    display: block;

  }



  .filter-box--or.filter-box--or--max {

    height: 100%;

  }



  .filter-box--or__mobile-header button {

    position: absolute;

    right: 10px;

    top: 20px;

  }



  .filter-box--or__mobile-header h2 {

    font-size: 42px;

  }



  .search-res-submit-wrapp {

    box-shadow: 0px -3px 5px #00000029;

    margin-left: -15px !important;

    margin-right: -15px !important;

    margin-bottom: -15px !important;

    padding: 20px;

    padding-bottom: 0;

    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    display: flex;

    justify-content: space-between;

    min-width: -webkit-fill-available;

  }



  .search-res-submit-wrapp .search-res-submit {

    width: auto;

    margin-left: auto;

    min-width: 110px;

  }



  .btn-close--or {

    text-decoration: underline;

    color: #000;

  }



  .filter-box--or .modal--or.is-visible {

    position: relative;

    top: unset;

    left: unset;

    overflow: unset;

  }



  .filter-box--or .modal--or.is-visible .modal-overlay.is-visible {

    display: none;

  }



  .filter-box--or .modal--or.is-visible .modal-wrapper {

    position: relative;

    overflow-y: unset;

    top: unset !important;

    left: unset;

    transform: unset;

    box-shadow: unset;

    padding: 0;

  }



  .filter-box--or .search-filter-submit--or {

    display: none;

  }



  .checkboxes--or {

    padding-top: 15px;

  }



  .filter-box--or .t-datepicker-days {

    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

  }



  .mphb_sc_search-form--result .modal-toggle-range--wrapp .dropdown-menu {

    width: 100%;

  }



  .filter-box--or .modal--or .modal-header {

    background-color: #efefef;

  }



  .filter-box--or .modal--or .modal-header {

    padding: 0;

  }



  .filter-box--or .modal--or .modal-header h2 {

    padding: 10px;

    margin-top: auto;

    font-size: 20px;

  }



  .filter-box--or .modal--or .modal-header .modal-close {

    padding: 10px;

    display: block !important;

    width: unset !important;

  }



  .filter-box--or .sf-field-submit--or--homepage .modal-toggle {

    display: none;

  }



  .mobile-map-list-toggle {

    position: fixed;

    z-index: 9;

    bottom: 0;

    width: 100%;

    display: flex;

    justify-content: space-around;

    box-shadow: 0px -3px 5px #00000029;

    color: #000;

    background: #fff;

    padding: 10px 20px;

    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

  }



  .mobile-list--toggle {

    color: #000;

  }



  .mobile-map--toggle {

    background: #000;

    padding: 6px 10px;

    color: #fff;

    border-radius: 3px;

  }



  .mobile-map--toggle:hover {

    color: #fff;

  }



  .mobile-map--toggle img {

    width: 20px;

    margin-right: 5px;

    -webkit-filter: invert(100%); /* Safari/Chrome */

    filter: invert(100%);

  }



  .or-search .appartments-map {

    padding-top: 0;

  }



  .or-search .appartments-map.appartments-map--hide {

   height: 0 !important;

  }

}



@media (max-width: 420px) {

  .mobile-list--toggle, .mobile-map--toggle {

    font-size: 14px !important;

  }

}

